
.key-dev-match .control-box {
	width: 30%;
	background: #ebecec;
	text-align: left;
	float: left;
}

.key-dev-match .matches {
	margin-left: 320px;
	height: 600px;
}

.key-dev-match .control-box select {
	height: 30px;
	width:1px;
	border: 1px solid #d4d4d4;
	border-radius: 4px;
	min-width: 235px;
	margin-top: 15px;
}

#key-devs {
	width: 99%;
}

.key-devs {
	padding: 0px;
	margin: 10px 0 25px;
}

h2 {
	color: #6b6b6b;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 18px;
	border-bottom: 1px solid #ccc;
}

.search-button {
	display: inline-block;
	font-size: 15px;
	background: #0e236b;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	line-height: 22px;
	padding: 2px 20px;
	color: #fff !important;
	cursor: pointer;
    margin: 10px 0 30px 5px;
}

h3, h3 span {
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;
}