<td class="label">
	<span data-bind="text: field.name"></span>
	<img data-bind="tooltip: field.id" src="img/info-tab-large.png" alt="" width="20" height="20" />
</td>
<td data-bind="text: updatesMin(), format: field.format" class="middle"></td>
<td class="criteria-slider middle">
	<div class="module-stock-slider">
		<div data-bind="slider" class="slider-bar"></div>
		<div class="stock-bar-container"></div>
		<div class="bar"></div>
		<div data-bind="text: matches() + ' matches'" class="matches"></div>
	</div>
</td>
<td data-bind="text: updatesMax(), format: field.format" class="middle"></td>
<td class="remove"><img data-bind="tooltip: 'criteriaRemove', click: criteria.clickEvents.removeCriteria" src="img/x-button.png" alt="" /></td>
