<header class="header">	
	<div data-bind="template: 'login-bar'"></div>
	<div class="profile">
		<div class="left">
			<h1><span data-bind="text: company.companyInfo.companyName"></span> (<span data-bind="text: ticker"></span>)</h1>
			<div class="breadcrumb" data-bind="visible: companyInfo.industryGroup != undefined">
				Industry Tree: 
				<a data-bind="text: companyInfo.industryGroup, siteLink: { id: 'index', extra: 'action=isearch&type=advanced-screener&industryGroup=' + industryGroup() }"></a> 
				> 
				<a data-bind="text: companyInfo.industry, siteLink: { id: 'index', extra: 'action=isearch&type=advanced-screener&industryGroup=' + industryGroup() + '&industry=' + industry() }"></a>
			</div>
		</div>
		<div class="price right" data-bind="visible: priceData().hasOwnProperty('price')">
			<div class="current-currency">This company reports in this currency: <span data-bind="text: priceData().currency"></span>.</div>
			<div class="pricing">
				<span class="currency" data-bind="text: currencySymbol()"></span> 
				<span class="price" data-bind="text: priceData().price, format: 'number'"></span>
				<span class="change" data-bind="text: priceData().change, format: 'number', css: { 'negative': priceData().change < 0  }, prependIf: '+', conditional: priceData().change > 0"></span>
			</div>			
			<div class="as-of">
				Last Price: 
				<span class="date" data-bind="text: priceData().day"></span>
				<span class="time" data-bind="text: priceData().time"></span> 
				SGT
			</div>	
		</div>
			
		<div class="profile-bar">		
			<a data-bind="siteLink: { id: 'index', extra: 'code=' + ticker } " class="back">Back to StockFacts</a>
			<div class="right">
				<a data-bind="siteLink: { id: 'trade', extra: 'code=' + ticker } " class="view">View Retail Brokers</a>
				<a data-bind="visible: (userStatus() != 'UNAUTHORIZED' && userStatus() != 'EXPIRED'), click: addWatchlist" class="add">Add to StockList</a>
				<a target="_blank" data-bind="attr: { 'href': printLink(ticker) }" class="down-print print-button">Download/Print</a>
			</div>
		</div>
	
		<nav>
			<ul>
				<li class="company-tearsheet"><a data-bind="siteLink: { id: 'company-tearsheet', extra: 'code=' + ticker } ">Profile</a></li>
				<li class="company-financials"><a data-bind="siteLink: { id: 'company-financials', extra: 'code=' + ticker }">Financials</a></li>
				<li class="company-estimates"><a data-bind="siteLink: { id: 'company-estimates', extra: 'code=' + ticker }">Estimates</a></li>
				<li class="company-charting"><a data-bind="siteLink: { id: 'company-charting', extra: 'code=' + ticker }">Technical Charting</a></li>
				<li class="company-comparables"><a data-bind="siteLink: { id: 'company-comparables', extra: 'code=' + ticker }">Comparable Companies</a></li>
			</ul>		
		</nav>
	</div>		
</header>