<div class="customize-display-modal">

	<h4>Customize Results Display</h4>
	
	<!-- ko foreach: fieldGroups -->
		<span class="inline-block top" style="margin-right: 15px; padding-bottom: 10px;">
		
			<h6 style="margin-bottom: 8px;" data-bind="text: name"></h6>
			<!-- ko foreach: fields -->
				<div class="checkbox" data-bind="css: { 'checked': $data.hasOwnProperty('dataDisplay') && dataDisplay }">
					<div class="trigger"><div class="check-overlay"></div><span data-bind="text:name"></span></div>
					<input type="checkbox" />
				</div>
			<!-- /ko -->		
			
		</span>
	<!-- /ko -->

</div>