	<div class="login-bar" data-bind="css: {'non-premium': (premiumUser() == false)}">
		<span class="stock-facts"><b>StockFacts <i>Plus</i></b> delivers enhanced features and benefits. <a data-bind="siteLink: { id: 'premium'} ">Learn more &raquo;</a> </span>
		<div class="right">
			<a class="button" data-bind="siteLink: { id: 'sign-in'}">Sign in</a>
			<a class="button" data-bind="siteLink: { id: 'sign-up'} ">Start your free trial</a>
		</div>
	</div>
	
	<div class="login-bar" data-bind="css: {'premium': (premiumUser() ==  true)}">		
		<span class="stock-facts"><b>StockFacts <i>Plus</i></b></span>
		<span class="logged-in-as" data-bind="css: {'hide': (libLoggedIn() == true)}">Logged in as <span data-bind="text: premiumUserEmail"></span></span>
		<!-- ko {if: libLoggedIn() && currentDay() > 0} -->
			<span class="trial-period" data-bind="css: {'hide': (libTrialPeriod() == true)}">: You have <span data-bind="text: currentDay"></span> <span data-bind="text: (currentDay() > 1)? 'days':'day'"></span> left in your trial.</span>
		<!-- /ko -->
		<!-- ko ifnot -->
			<span class="trial-period" id="introTrialLastDay"></span> 
		<!-- /ko -->
		<span class="trial-expired" data-bind="visible: (libTrialExpired() == true)">: Your trial has expired.</span>
		<ul>
			<li class="subscribe" data-bind="css: {'hide': (libSubscribe() == true)}"><a target="_top" href="purchase-account.html">Purchase</a></li>
			<li class="account"><a data-bind="siteLink: { id: 'account-settings'}">Account</a></li>
			<li class="alerts" data-bind="css: {'hide': (libAlerts() == true)}"><a data-bind="siteLink: { id: 'alerts'}">StockList</a></li>
			<li class="last"><a data-bind="siteLink: { id: 'logout'} ">Sign Out</a></li>
		</ul>
		<div class="right hidden" data-bind="css: {'show-hidden': PAGE.userStatus() != 'EXPIRED'}">
			<span class="currency" data-bind="css: {'hide': (libCurrency() == true)}">Currency</span>
			<select class="currency-select" data-bind="options: getCurrencies(), value: selectedCurrency, optionsValue: 'id', optionsText: 'name', css: {'hide': (libCurrency() == true)}"></select>
			<span class="currency" data-bind="css: {'hide': (libCurrency() == false)}">Currency</span>
			<span class="currecncy-sgd" data-bind="css: {'hide': (libCurrency() == false)}">Singapore Dollar</span>
		</div>
		<div class="right" data-bind="visible: PAGE.userStatus() == 'EXPIRED'">
			<span class="currency">Currency</span>
			<span class="currecncy-sgd">Singapore Dollar</span>
		</div>
	</div>	