
<div id="premium" class="premium-preview">
  <div class="grid scan preview">
    <h5>Enhance your search for investment opportunities</h5>
    <h1>StockFacts Plus</h1>
    <h4><span data-bind="text:sectionName" style="font-size:16px; font-weight:bold;"></span> are only available with a StockFacts Plus account.</h4>
  </div>
  
  <div class="grid premium-wrapper">
    <div class="trial-box">
    <b>Key benefits:</b>
      <ul>
			<li><p>Receive advanced consensus estimates</p></li>
			<li><p>Perform technical analysis and charting</p></li>
			<li><p>Customise your watchlist</p></li>
			<li><p>Receive email alerts</i></p></li>
			<li><p>Research Asian stocks</i></p></li>
			<li><p>Get real-time price movements <i>(only available with a paid account)</i></p></li>
			<li><p>Portfolio Simulation</p></li>
		</ul>
      <div data-bind="visible:userStatus == 'EXPIRED'">
        <a class="button" href="purchase-account.html" target="_top">PURCHASE</a>
      </div>
      <div data-bind="visible:userStatus == 'UNAUTHORIZED'">
        <a class="button" data-bind="siteLink:'sign-up'">Start free trial</a> Already have an account? <a href="" data-bind="siteLink:'sign-in'">Sign in</a>
      </div>      
    </div>
    <div id="preview-comp" class="view-price">
		<div class="price" data-bind="html:price"></div>
		<div class="note" >**Note: The monthly subscription fee is to be paid upfront for the total of a 12 month subscription period.</div>
	</div>
  </div>  
  <div data-bind="template: {afterRender: PAGE.resizeIframeSimple()}">
  </div>
</div>  