
<div id="premium" class="content">
  <div class="grid scan">
    <h5>Enhance your search for investment opportunities</h5>
    <h1>StockFacts Premium</h1>
  </div>
  
  <div class="grid premium-wrapper">
    <div class="trial-box">
      <p>Create and manage Watchlists/Alerts</p>
      <p>Modify additional companies and currencies</p>
      <p>Access estimates and advanced charting</p>
      <p>View real-time data <i>(available with paid accounts)</i></p>
      <div>
        <a class="button" data-bind="siteLink:'sign-up'">PURCHASE</a>
      </div>      
    </div>
    <img src="img/bg-premium-views.png" alt="">
  </div>  
</div>  