body {
	margin: 0;
	padding: 0;
    min-width: 1012px;
}

body * {
	font-size: 11.5px;
}

hr {
	height: 2px;
	background: #9e9d98;
	border: 0;
	margin: 15px 0 15px 0;
}

h2, .terms h4 {
	font-size: 22px;
	font-weight: normal;
	margin: 0px;
	color: #1e2171;
}

h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: #1e2171;
  border-bottom: 1px solid #CCC;
}

td {
	vertical-align: top;
}

.page {
	margin: 0; 
	padding: 0; 
	page-break-after: always; 
	clear: both; 
	min-height: 1220px; 
	overflow: hidden; 	
	border-top: 15px solid #BFCE00;
}

.last {
	page-break: never;
}

.container_3 {
	width: 1008px;
}

.grid_1, .grid_2, .grid_3, .grid_4 {
    margin-left: 6px;
    margin-right: 6px;
}

.row {
	padding: 5px 25px 5px 25px;
}

.container_3 .grid_1 {
    width:324px;
}
.container_3 .grid_2 {
    width:660px;
}
.container_3 .grid_3 {
    width:996px;
}

.column50 {
	display: inline-block;
	width: 50%;
	padding-left: 15px;
	vertical-align: top;
}

.column50.right {
	width: 47%;
	padding-left: 0;
}


.column70 {
	display: inline-block;
	width: 70%;
	padding-left: 15px;
	vertical-align: top;
}

.column30.right {
	width: 30%;
	padding-left: 0;
	vertical-align: top;
}

.header {
	padding-top: 20px;
}

.header .row {
	padding: 5px 25px 5px 25px;
}

.logos {
	white-space: nowrap;
}

.company-header td {
	vertical-align: bottom;
}

.page-title {
	width: 700px !important;
}

.dark-module {
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.breadcrumb-tree {
	padding: 8px;
}

.breadcrumb-tree a, .breadcrumb-tree span {
	font-size: 12px !important;
}

#area-chart {
	width: 660px;
}

.stock-events ul {
	border: 0;	
}

.stock-events {
	max-height: 560px;
	overflow: hidden;
}

table.panel {
	width: 600px;
}

table.panel td, .general-info td {
	padding: 8px;
	font-weight: bold;
}

table.panel td.property, .general-info td.property, table.panel td.note, .general-info td.note {
	font-weight: normal;
}

table.panel td.property {
	text-align: right;
}

.general-info td {
	padding: 0;
	padding: 3px;
}

td.right {
	padding-left: 20px;
	padding-top: 20px;
}

.right .left {
	padding: 10px;
}

.right .left h3 {
	margin-top: 0px;
}

.right .left hr {
	width: 75%;
}

.financials-section td {
  padding: 4px;
  font: normal 11px/11px Arial, Helvetica, sans-serif;
  text-align: center;
  height: auto;
}


.financials-section h4 {
	font-size: 13px;	
}

.financials-section tr td:first-child {
	font-weight: bold;
}

.financials-section td.right {
	padding-left: 5%;
}

.financials-section table {
	margin:0px;
}

.financials-section p {
	font-size: 15px;
	margin-bottom:0px;
}


.financials-section th {
	font-size: 9px;
	border-left: 4px solid #FFF;
}

.terms ul * {
	font-size: 13px;
	line-height: 18px;
}

.terms ul li {
	margin-bottom: 10px;
}