.alerts-wrapper select { background: #ddd; height: 22px; border: 1px solid #d4d4d4; border-radius: 4px; min-width: 80px; }
.alerts-wrapper a { color: #0b236b; text-decoration: none; }
.alerts-wrapper a:hover { text-decoration: underline; }

.intro { margin: 12px 0; display: block; }
.intro .error-messages p { color: #bf0052 !important; line-height: 16px; padding: 0 0 10px 0; }
.intro input.text { border: 1px solid #c4c4c4; color: #333; display: inline-block; width: 160px; padding: 0 5px; line-height: 22px; height: 22px; }
.intro  .button { display: inline-block; }

#alerts { display: none; }

#alerts-content-alternative { margin: 15px 0 0 0; }

.wl-container { overflow: hidden; min-height: 300px; /*display: none;*/ }

.wl-container .edit-watchlist { margin: 10px 0; }

.watchlist a { cursor: pointer; text-decoration: none; }
.watchlist a:hover { text-decoration: underline; }

.save { width: 978px; background: #f2f0db; border: 1px solid #b3c5cf; line-height: 28px; padding: 0 10px; color: #333; font-size: 11.5px; font-style: italic; margin: 0 0 10px 5px; }

.watchlist { display: inline-block; width: 37.5%; margin: 0 2.5% 0 0; float: left;}
.watchlist .wl-companies { margin: 12px 0;position:relative;}
.watchlist .wl-companies ul { padding: 0; margin: 0; border-bottom: 2px solid #ccc;  }
.watchlist .wl-companies ul li { list-style-type: none; padding: 10px; }
.watchlist .wl-companies ul li.odd { background: #ebecec; }
.watchlist .wl-companies ul li span { font-size: 22px; color: #444; font-weight: bold; display: inline-block; }
.watchlist .wl-companies ul li .ticker { width: 115px; }
.watchlist .wl-companies ul li .currency { width: 60px; }
.watchlist .wl-companies ul li .price { width: 75px; }
.watchlist .wl-companies ul li .change { width: 70px; color: #b5cf34; }
.watchlist .wl-companies ul li .change.negative { color: #bf0052; }

.watchlist .search .description .screener-basic { margin-bottom: 8px; }
.watchlist .search .searchtoggle { margin: 0; }
.watchlist .search .searchtoggle .toggle { display: inline-block; margin: 0px; padding-left: 15px;  padding-right: 15px; background-color: #565a5c; }
.watchlist .search .searchtoggle .toggle.sname { -webkit-border-bottom-right-radius: 0; -moz-border-radius-bottomright: 0; border-bottom-right-radius: 0; -webkit-border-top-right-radius: 0; -moz-border-radius-topright: 0; border-top-right-radius: 0; }
.watchlist .search .searchtoggle .toggle.scode { -webkit-border-bottom-left-radius: 0; -moz-border-radius-bottomleft: 0; border-bottom-left-radius: 0; -webkit-border-top-left-radius: 0; -moz-border-radius-topleft: 0; border-top-left-radius: 0; }
.watchlist .search .searchtoggle .selected { background-color: #0e236b; }
.watchlist .search .searchbar { margin: 10px 0; border: 1px solid #0e236b; display: inline-block; -webkit-border-radius: 4px; border-radius: 4px; height: 22px; position: relative; width: 212px; background: #fff; -webkit-background-clip: padding; -moz-background-clip: padding; background-clip: padding-box; }
.watchlist .search .searchbar input { border: none; padding: 0px; color: #494949; font: normal 12px Arial, Helvetica, sans-serif; font-style: italic; width: 186px; height: 22px; text-indent: 10px; background: none; }
.watchlist .search .search-submit { position: absolute; top: 0px; right: 0px; width: 26px !important; height: 0; padding-top: 22px; background: #0e236b url("../img/searchbar-icon.jpg") no-repeat center center !important; z-index: 20; cursor: pointer; }

.watchlist .wl-companies ul li .remove { background: url(../img/x-button.png) no-repeat; height: 16px; width: 16px; cursor: pointer; }
.watchlist .wl-companies ul li .company { font-size: 12px !important; font-weight: normal !important;}

.watchlist .results h5 { padding: 5px; margin: 15px 0 8px 0; font-size: 14px; font-weight: normal; background: #ebecec; text-transform: uppercase; }
.watchlist .results ul { margin: 0; padding: 0; font-size: 12px; font-weight: bold; max-height: 290px; overflow-x: hidden; }
.watchlist .results ul li { list-style-type: none; margin-bottom: 8px; line-height: 17px; }
.watchlist .results ul li .add { background: url(../img/add-button.png) no-repeat; height: 17px; width: 17px; display: inline-block; margin: 0 6px 0 0; cursor: pointer; }
.watchlist .results ul li .name { font-size: 13px; position: relative; top: -3px; }

.wl-container .alerts { display: inline-block; width: 60%; }
.wl-container .alerts .price-changes, .alerts .estimates, .alerts .developments { background: #ebecec; }
.wl-container .alerts .developments { overflow: hidden !important; clear: both; }
.wl-container .alerts input[type=text] { background: #f6f6f6; width: 44px; padding: 0 2px; }
.wl-container .alerts input.percent { background: url(../img/bg-percent.png) no-repeat right #f6f6f6; width: 22px !important; padding: 0 22px 0 0; text-align: right; display: inline-block; }
.wl-container .alerts h3 { background: #0b236b; height: 36px; line-height: 36px; font-size: 19px; color: #fff; font-weight: normal; padding: 0 15px; margin: 0;  }
.wl-container .alerts ul { padding: 17px 10px; margin: 0; }
.wl-container .alerts ul li { list-style-type: none; margin: 0 0 12px 0; }
.wl-container .alerts ul li input[type="text"] { width: 32px; height: 22px; border: 1px solid #c4c4c4; border-radius: 4px; }

.button-wrapper { margin: 35px 0 0 10px; }
.button-wrapper a { cursor: pointer; }
.button-wrapper a.email { margin-left: 10px; }

.cboxWrapper .cancel { margin: 0 10px; }

.error-messages p { color: #bf0052 !important; line-height: 16px; font-size: 11.5px; margin: 10px 25px; }
#loading-alerts{ position:absolute; top:40%; left:42%; z-index:51;}
.grayout {
  position: absolute;
  z-index: 50;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
  background-color: #fff; }
