/* Premium Header */
.header { margin: 10px 0 0 0; }
.header .login-bar { background: #d5e3ea; border: 1px solid #b3c6cf; color: #333 !important; height: 28px; font-size: 0; }
.header .login-bar span,
.header .login-bar ul,
.header .login-bar ul li,
.header .login-bar select { display: inline-block; line-height: 28px !important; }
.header .login-bar .stock-facts { font-weight: bold; padding: 0 12px }
.header .login-bar .stock-facts i { font-style: italic;}
.header .login-bar .logged-in { background: #b3c6cf; font-weight: bold; padding: 0 9px; }
.header .login-bar ul { margin: 0 !important; padding: 0 6px; }
.header .login-bar ul li { border-right: 1px solid #333; line-height: 16px !important; padding: 0 6px; }
.header .login-bar ul li a { text-decoration: none; }
.header .login-bar ul li a:hover { text-decoration: underline; }
.header .login-bar ul li.last { border-right: 0; }
.header .login-bar .currency { font-weight: bold; }
.header .login-bar select { background: #d9d9d9; border: 1px solid #b6b6b6; font-size: 7.5pt; font-weight: bold; }
.header .login-bar .right { float: right; margin: 0 12px 0 0; }

.header .profile { background: #0b236b; margin: 18px 0; }
.header .profile .left { float: left; margin: 28px 0 10px 22px; }
.header .profile .right { float: right; margin: 20px 18px 0 0; }
.header .profile h1 { color: #fff; font-size: 27px; margin: 0 0 10px 0 !important; line-height: 27px !important; }
.header .profile .breadcrumb { color: #fff; }
.header .profile .breadcrumb a { color: #fff; text-decoration: none;}
.header .profile .breadcrumb a:hover { text-decoration: underline; }

.header .profile .pricing .currency,
.header .profile .pricing .price,
.header .profile .as-of,
.header .profile .as-of .date,
.header .profile .as-of .time { color: #fff !important; }

.header .profile .profile-bar { background: #031753; padding: 8px 0 8px 22px; display: block; clear: both; }
.header .profile .profile-bar a { background: url(../img/bg-profile-bar.png) no-repeat; color: #fff; text-decoration: none; font-size: 9pt !important; height: 17px; line-height: 17px; }
.header .profile .profile-bar a:hover { text-decoration: underline; cursor: pointer; }
.header .profile .profile-bar .right { margin: 0 20px 0 0 !important; }
.header .profile .profile-bar .right a { margin: 0 0 0 32px; }

.header .profile .profile-bar a.back { background-position: 0 0; padding: 2px 0 0 21px; }
.header .profile .profile-bar a.view { background-position: 0 -27px; padding: 3px 0 2px 24px; }
.header .profile .profile-bar a.add { background-position: 0 -59px; padding: 1px 0 0 21px; }
.header .profile .profile-bar a.down-print { background-position: 0 -86px; padding: 2px 0 0 21px; } 

.header .profile nav { margin: 10px 22px 0 24px; position: relative; }
.header .profile nav ul { font-size: 0; overflow: hidden; }
.header .profile nav ul li { display: inline-block; font-size: 13pt !important; line-height: 36px; }
.header .profile nav ul li a { padding: 10px 53px; color: #fff; text-decoration: none; border: 1px solid #000; border-bottom: 0 !important; border-radius: 8px 8px 0 0; }
.header .profile nav ul li a:hover,
.header .profile nav ul li.active a { background: #fff; color: #000; border-color: #fff; border-radius: 8px 8px 0 0; cursor: pointer; }