.key-dev-match {
	position: relative;
	top: -2px;
	z-index: 1;
	border: 2px solid #ebecec;
	padding: 30px 10px 10px;
}

.key-dev-match .control-box {
	width: 30%;
	background: #ebecec;
	text-align: left;
	float: left;
}

.key-dev-match .matches {
	margin-left: 320px;
	height: 530px;
}

.key-dev-match .control-box select {
	height: 30px;
	width: 1px;
	border: 1px solid #d4d4d4;
	border-radius: 4px;
	min-width: 235px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#key-devs {
	width: 99%;
}

.key-devs {
	padding: 0px;
	margin: 10px 0 25px;
}

h2 {
	color: #6b6b6b;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 18px;
	border-bottom: 1px solid #ccc;
}

.search-button {
	display: inline-block;
	font-size: 15px;
	background: #0e236b;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	line-height: 22px;
	padding: 2px 20px;
	color: #fff !important;
	cursor: pointer;
	margin: 10px 0 30px 5px;
	text-decoration: none !important;
}

h3, h3 span {
	color: #333333;
	font-size: 16px;
	font-weight: bold;
	line-height: 26px;
	cursor: default;
}

.matches .key-header {
	font: arial 12px Georgia;
	color: #0e236b;
	text-decoration: none;
	cursor: pointer;
}

.matches .key-header:hover {
	text-decoration: underline;
}

div.news {
	margin-bottom: 10px;
	cursor:default;
}

.matches .key-company {
	font: italic 12px Georgia;
	color: #333333;
	text-decoration: none;
	cursor: default;
}

.matches table td {
	padding: 10px 0px;
}

.key-dev-match .allKeyDevDivId{
	max-height: 450px;overflow-x: hidden;
	cursor: pointer;
}

.control-box table tr td input[type=checkbox] {
	width: 15px;
	height: 15px;
}

.keydevHeader {
	padding-left:16px;
	margin-top: 10px;
}

hr{
	width:234px;
	position:relative;
	color: #ccc;
	margin-top: 2px;
	left:-11px;	
}

.deleteTran {
	padding: 0;
    margin: 25px 0 0 0;
}

.deleteTran span {
    display: inline-block;
    font-size: 12px;
    background: #0e236b;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    line-height: 22px;
    padding: 0 10px;
    color: #fff !important;
    cursor: pointer;
}

.ml5p {
	margin-left: 5px;
}