section { margin: 0 auto; width: 700px; }
section header { background: #5f6062; height: 110px; }
section header h2 { color: #fff; font-size: 31px; text-align: center; position: relative; top: 60px; }
section .form { background: #ebecec; text-align: center; }
section .form h4 { padding: 14px 0; }
section .form p { padding: 15px 0; margin: 0; }
section .form p.forgot { padding: 0 0 15px 0; margin: 0; }
section .form input.text { background: #f5f5f5; border: 1px solid #c4c4c4; color: #848484; display: block; margin: 0 auto 17px auto; width: 349px; padding: 0 12px; line-height: 32px; height: 32px; }

section .form .agree-email { margin: 0 auto; width: 373px; position: relative; }

section .form .checkbox { color: #000; font-size: 12px; line-height: 16px; text-align: left; }
section .form .checkbox input { height: 16px; width: 16px; line-height: 16px; }
section .form .checkbox label { position: relative; top: -2px; }
section .form .button { font-size: 17px !important; margin: 20px 0; padding: 5px 25px !important; }

section .form .error-messages p { color: #bf0052 !important; line-height: 16px; padding: 0 0 10px 0; }

section.settings { text-align: left; width: 992px; }
section.settings .form { background: #ebecec; padding: 0 30px 30px 30px; width: 932px; text-align: left; }
section.settings .form-wrapper { padding: 30px 0 0 0; }
section.settings .form-wrapper label { width: 200px; display: inline-block; color: #333; font-weight: bold; }
section.settings .form-wrapper span { display: inline-block; color: #767676; }
section.settings .form-wrapper span.change a { cursor: pointer; }
section.settings .form-wrapper span input[type="password"] { background: #f5f5f5; border: 1px solid #c4c4c4; color: #848484; width: 148px; padding: 0 12px; line-height: 28px; height: 28px; display: inline-block !important; margin: 0 12px 0 0; }
section.settings .form-wrapper span input[type="password"].password { background: none; border: 0; margin: 0; padding: 0; width: 100px; }
section.settings .form-wrapper span.note { font-size: 8pt; margin: 0 0 0 35px; }
section.settings .form-wrapper .new-pass { display: none; }
section.settings .form-wrapper .mailings input[type="radio"] { margin: 0; padding: 0; position: relative; top: 1px; cursor: pointer; }
section.settings .form-wrapper .mailings label { width: 40px; cursor: pointer; }

section footer { background: #bcbdbe; height: 40px; overflow: hidden; }
section footer span { display: inline-block; padding: 0 15px; }
section footer .left { float: left; line-height: 40px; }
section footer .right { float: right; line-height: 40px; }
section footer a { color: #1e2171; text-decoration: none; }
section footer a:hover { text-decoration: underline; }
