.valuation-performance {
	position: relative;
	top: -2px;
	z-index: 1;
	border: 2px solid #ebecec;
	padding: 30px 0px 10px;
}

.valuation-performance a {
	text-decoration: none;
}

.valuation-performance ul {
	padding: 8px 0;
	margin: 0;
}

.valuation-performance .header-bar li {
	list-style: none;
	display: inline-block;
	margin-left: 8px;
}

.valuation-performance .header-bar li:first-child {
	margin-left: 0;
	padding-right: 12px;
	border-right: 2px solid #fff;
}
.valuation-performance .header-bar li.downArrow:first-child {
	padding-right: 5px;
}

.downArrow:after {
	content:"";
	position:relative;
    top:34px;
    right:63px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 7.5px 0 7.5px;
	border-color: #0e236b transparent transparent transparent;
}

.header-bar {
	background: #0e236b;
	text-align: center;
	font-weight: bold;
}

.header-bar a {
	color: #ffffff;
}

.header-bar a:hover {
	color: #ffffff;
}

.header-bar a.active {
	cursor: default;
	color: #ffffff;
}

.performance, .transactions {
	display: none;
}

.show-hidden {
	display: block !important;
}

/* valuation performance part */
.valuation-results {
	margin-top: 15px;
	display: none;
}

.valuation-results table {
	border-spacing: 0;
	border-collapse: collapse;
	margin-top: 20px;
	margin-bottom: 10px;
	width: 98%;
	border-right: 1px solid #ccc;
}

.valuation-results table tbody td {
	color: #000;
	border: 1px solid #ccc;
	padding: 8px 12px;
	font: normal 12px/12px Arial, Helvetica, sans-serif;
	text-align: left;
	line-height: 280%;
	vertical-align: top;
}

.valuation-results table thead tr {
	background: #eee;
}

.valuation-results table thead tr th {
	color: #0e236b;
	border: 1px solid #ccc;
	padding: 8px 12px;
	font: bold 14px/12px Arial, Helvetica, sans-serif;
/* 	font-weight: bold; */
	text-align: left;
	cursor: pointer;
	vertical-align: top;
}

.valuation-results table thead tr th.asc {
	background: url("../img/sort_ascending.png") no-repeat left 117px top
		12px;
}

.valuation-results table thead tr th.desc {
	background: url("../img/sort_descending.png") no-repeat left 117px top
		8px;
}

.valuation-results table .companyName {
	text-align: left;
	width: 220px;
}

.valuation-results table .tickerCode {
	width: 50px;
}

.valuation-results .company-row {
	color: #000;
	border: 1px solid #ccc;
	padding: 8px 12px;
	font: 12px/12px Arial, Helvetica, sans-serif;
	text-align: left;
	line-height: 280%;
	vertical-align: top;
}

.no-results {
	margin: 10px 0 20px 0;
	padding: 15px;
	border: 1px solid #CCC;
	font-weight: bold;
}

.customize-display-modal {
	width: 550px;
	height: 460px;
}

.customize-display-modal span {
	display: inline-block;
	width: 46%;
}

.add-button {
	display: inline-block;
	background: #0e236b;
	-webkit-border-radius: 4px;
	padding: 8px 15px 8px 15px;
	color: #fff !important;
	cursor: pointer;
}

.save-button {
	display: inline-block;
	background: #0e236b;
	-webkit-border-radius: 4px;
	padding: 8px 25px;
	color: #fff !important;
	cursor: pointer;
	margin-right: 20px;
	font: normal 15px/15px Arial, Helvetica, sans-serif;
}

.imgCenterAllign {
	cursor: pointer;
	margin-top: 10px;
    text-align: center;
}

.imgIntCenterAllign {
	cursor: pointer;
    text-align: center;
}


/* transaction part */
.transactions .company-row {
	color: #000;
	border: 1px solid #ccc;
	padding: 8px 12px;
	font: bold 12px/12px Arial, Helvetica, sans-serif;
	text-align: left;
	line-height: 280%;
	vertical-align: top;
}
.transactions table {
	border-spacing: 0;
	border-collapse: collapse;
	margin: 10px 20px;
	border-right: 1px solid #ccc;
}

.transactions table tbody td {
	color: #000;
	border: 1px solid #ccc;
	padding: 8px 12px;
	font: normal 12px/12px Arial, Helvetica, sans-serif;
	text-align: left;
	line-height: 280%;
	vertical-align: top;
}

.transactions table thead tr th.asc {
	background: url("../img/sort_ascending.png") no-repeat left 125px top
		10px;
}

.transactions table thead tr th.desc {
	background: url("../img/sort_descending.png") no-repeat left 125px top
		5px;
}

.transactions table tbody tr td input {
	width: 90px;
	height: 25px;
	text-align: left;
	display: inline-block;
	font: normal 12px/12px Arial, Helvetica, sans-serif;
}

.transactions .select-company {
	width: 220px;
	height: 30px;
	display: inline-block;
}

.transactions .select-type {
	width: 90px;
	height: 30px;
	display: inline-block;
}

.transactions table thead tr th {
	color: #0e236b;
	border: 1px solid #ccc;
	padding: 8px 12px;
	font: bold 14px/12px Arial, Helvetica, sans-serif;
	text-align: left;
	cursor: pointer;
	vertical-align: top;
}

.transactions table thead tr {
	background: #eee;
}


.panel {
	background-color: #d5e3ea;
	border: solid 1px #d5e3ea;
}

.w80P {
	width: 65%
}

.w20P {
	width: 20%
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.textCenter {
	text-align: center !important;
}

.blueCl{
	color: #0e236b;
	font: bold 14px/12px Arial, Helvetica, sans-serif;
	line-height: 16px;
}

.blackCl{
	color: #000000;
	font: bold 14px/12px Arial, Helvetica, sans-serif;
}

.clear {
	clear: both;
}

.ml10p {
	margin-left: 10px;
}

.mt15p {
	margin-top: 15px;
}

.portfolioCalc{
	color: #060606;
	border: 1px solid #060606;
	padding: 8px 12px;
	font: bold 14px/12px Arial, Helvetica, sans-serif;
	text-align: left;
	cursor: pointer;
	vertical-align: top;
}

.portfolioMenu {
	margin-left: 10px;
}

.portfolioMenu h3 {
	border-bottom: 1px solid #cccccc;
	font-weight: bold;
	color: #000000;
	padding-top: 10px;
}

.portfolioMenu ul li {
    display: inline;
    float: left;
    width: 25%;
    margin-left: 15px;
    border-right: 1px solid #cccccc;
}

.portfolioMenu ul li:last-child, 
.portfolioMenu ul li:nth-child(3) {
    border: 0 !important;
}

.deleteTran {
	padding: 0;
    margin: 25px 0 0 0;
}

.deleteTran span {
    padding: 7px 15px;
    font-size: 11pt;
}

.w935p {
	width: 935px;
}

.multiTransCompany { 
	color :#0e236b;
	padding-top:8px;
	text-decoration: underline;
}

.multiTransCompany span{ 
    color :#0e236b;
}

.valuation-results table tbody tr td input[type=checkbox] {
width: 17px;
height: 17px;
}

.valuation-results table thead tr th input[type=checkbox] {
width: 17px;
height: 17px;
}

.pl8p {
	padding-left: 8px;
}

.pl25p {
	padding-left: 25px;
}

