<span class="factor" data-bind="createFactor, css: { 'odd': ($index() % 2 == 0) }">
	<span class="label">
		<span data-bind="text: name"></span>
		<img data-bind="tooltip: id" src="img/info.png" alt="" />
	</span>
    <span>
        <span data-bind="text: minLabel" class="left-label"></span>
        <span class="quintiles" data-bind="attr: { 'data-id': id }" ></span>
        <span class="bar"></span>
        <span data-bind="text: maxLabel" class="right-label"></span>
    </span>
</span>