<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<title>SGX - Your Alerts</title>
</head>

<body style="margin: 0; padding: 0;">
<table width="775" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td width="775">
			<div>
				<img th:src="${baseUrl + '/email/_images/spacer.gif'}" width="1" height="50" alt="" style="display: block;" />
			</div>
			<div style="text-align: center;">
				<img th:src="${baseUrl + '/email/_images/logo.gif'}" width="181" height="52" alt="SGX" />
			</div>
			<div>
				<img th:src="${baseUrl + '/email/_images/spacer.gif'}" width="1" height="25" alt="" style="display: block;" />
			</div>
			<table width="775" border="0" cellpadding="0" cellspacing="0" bgcolor="#f0f1f1">
				<tr>
					<td width="25"><img th:src="${baseUrl + '/email/_images/spacer.gif'}" width="25" height="1" alt="" /></td>
					<td width="550">
						<table border="0" cellpadding="0" cellspacing="0" >
							<tr>
								<td><img th:src="${baseUrl + '/email/_images/spacer.gif'}" width="1" height="1" alt="" /></td>
							</tr>
							<tr>
								<td width="725">
									<div>
										<img th:src="${baseUrl + '/email/_images/spacer.gif'}" width="1" height="25" alt="" style="display: block;" />
									</div>
									<h2 style="font-family: Arial, Helvetica, sans-serif; font-size: 27px; color: #0b236b; margin: 0 0 25px 0;">Your Alerts</h2>
									<div style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #333; margin: 0 0 25px 0;">The following events have triggered alerts for <span th:text="${watchlistName}">StockList Name</span>.<br />
									Select the company name to view the company profile.</div>
									<div style="margin: 0 0 25px 0;" class="category-wrapper">									
										<div style="margin: 0 0 20px 0;" th:each="alert : ${alerts}">
											<div style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; font-weight: bold; color: #333; margin: 0 0 5px 0;" class="category"  th:text="${alert.description}">Price Dropped Below 5% Or Rise Above 5% Last Close Price</div>
											<th:block th:each="company : ${alert.companies}">
												<div style="margin: 0 0 2px 0;" class="company"><a th:href="${emailSite + '?page=1&amp;code='  + company.key + '&amp;lang=en-us'}" style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #0b236b; text-decoration: none;"><span th:text="${company.value}">Singapore Airlines Limited</span> (<span th:text="${company.key}">C6L</span>)</a></div>
											</th:block>
										</div>									
									</div>
									<div><a th:href="${emailSite + '?page=11&amp;lang=en-us'}"><img th:src="${baseUrl + '/email/_images/view-alerts.gif'}" width="143" height="32" alt="View alerts" /></a></div>
									<div>
										<img th:src="${baseUrl + '/email/_images/spacer.gif'}" width="1" height="25" alt="" />
									</div>
								</td>
							</tr>
						</table>
					</td>
					<td width="25"><img th:src="${baseUrl + '/email/_images/spacer.gif'}" width="25" height="1" alt="" /></td>
				</tr>
			</table>
			
			<table width="775" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td height="7"><img th:src="${baseUrl + '/email/_images/spacer.gif'}" width="1" height="7" alt="" style="display: block;" /></td>
				</tr>
			</table>
			
			<table width="775" border="0" cellpadding="0" cellspacing="0" bgcolor="#f0f1f1">
				<tr>
					<td width="25"><img th:src="${baseUrl + '/email/_images/spacer.gif'}" width="25" height="1" alt="" /></td>
					<td width="550">
						<table border="0" cellpadding="0" cellspacing="0" >
							<tr>
								<td height="25"><img th:src="${baseUrl + '/email/_images/spacer.gif'}" width="1" height="25" alt="" style="display: block;" /></td>
							</tr>
							<tr>
								<td width="725">
									<table width="725" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td>
												<div th:text="${watchlistName}" style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #333; text-align: left;">STOCKLIST A</div>
											</td>
											<td>
												<div style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #333; text-align: right;">Last Close Price</div>
											</td>
										</tr>
									</table>
									
									<table width="550" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td height="8"><img th:src="${baseUrl + '/email/_images/spacer.gif'}" width="1" height="8" alt="" style="display: block;" /></td>
										</tr>
									</table>
									
									<div th:each="company : ${companyPrices}">									
										<table width="725" border="0" cellpadding="11" cellspacing="0" bgcolor="#e3e5e4">
											<tr>
												<td>
													<table border="0" cellpadding="0" cellspacing="0">
														<tr>
															<td width="120">
																<a th:href="${emailSite + '?page=1&amp;code='  + company.ticker + '&amp;lang=en-us'}" style="text-decoration: none;"><div style="background: #0e236b; padding: 3px 6px; font-family: Arial, Helvetica, sans-serif; font-size: 15px; font-weight: bold; color: #fff; text-align: center;" th:text="${company.ticker}">C6L</div></a>
															</td>
															<td width="12"><img th:src="${baseUrl + '/email/_images/spacer.gif'}" width="12" height="1" alt="" /></td>
															<td width="270">
																<div style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #333;" th:text="${company.companyName}">Singapore Airlines Limited</div>
															</td>
															<td width="55"><img th:src="${baseUrl + '/email/_images/spacer.gif'}" width="55" height="1" alt="" /></td>
															<td width="245" align="right">
																<span style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #333; width:32px; text-align:left; display: inline-block;" th:text="${company.currency}">SGD</span>
																<span style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #333; width:50px; text-align:left; display: inline-block;" th:text="${company.price}">10.06</span>
																<span th:style="'font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; width:55px; text-align:left; display: inline-block; color:' + ${company.change >= 0 ? '#bdd831' : '#bf0052'}" th:text="${company.change > 0 ? '+' : ''} + ${company.change}">+0.02</span>
															</td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
										<table width="550" border="0" cellpadding="0" cellspacing="0">
											<tr>
												<td height="8"><img th:src="${baseUrl + '/email/_images/spacer.gif'}" width="1" height="5" alt="" style="display: block;" /></td>
											</tr>
										</table>
									</div>
								</td>
							</tr>
						</table>
						
						<table width="550" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td>
									<img th:src="${baseUrl + '/email/_images/spacer.gif'}" width="1" height="28" alt="" style="display: block;" />
									<a th:href="${emailSite}"><img th:src="${baseUrl + '/email/_images/go-to-stockfacts2.gif'}" width="193" height="32" alt="Go to StockFacts" style="display: block;" /></a>
									<img th:src="${baseUrl + '/email/_images/spacer.gif'}" width="1" height="28" alt="" style="display: block;" />
								</td>
							</tr>
						</table>
						
					</td>
					<td width="25"><img th:src="${baseUrl + '/email/_images/spacer.gif'}" width="25" height="1" alt="" /></td>
				</tr>
			</table>			
			<table width="775" border="0" cellpadding="0" cellspacing="0" bgcolor="#5f6062">
				<tr>
					<td width="25"><img th:src="${baseUrl + '/email/_images/spacer.gif'}" width="25" height="1" alt="" /></td>
					<td width="725">
						<div style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #fff; margin: 25px 0 0 0;">You are receiving this email because you signed up for SGX StockFacts Plus.</div>
						<div style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #fff; margin: 0 0 25px 0;">If you did not make this request, you may ignore this email.</div>
					</td>
					<td width="25"><img th:src="${baseUrl + '/email/_images/spacer.gif'}" width="25" height="1" alt="" /></td>
				</tr>
			</table>
		</td>
	</tr>
</table>

</body>
</html>
