body { font-family: Arial,Helvetica,sans-serif; font-size: 11.5px; margin: 0; padding: 0; min-width: 1012px; }

.bold { font-weight: bold; }
.center { text-align: center; }
.right { text-align: right; }
.left { text-align: left; }
.even { background-color: #e8e8e8 !important; }
.change { color: #b5cf34; }

hr { height: 2px; background: #9e9d98; border: 0; margin: 15px 0 15px 0; }
h1 { margin: 0; padding: 0; font-weight: bold; font-size: 36px; line-height: 42px; color: #0e236b; }
h2 { font-size: 22px; font-weight: normal; margin: 0 0 10px 0; color: #0e236b; }
h3 { font-weight: bold; font-size: 16px; line-height: 26px; color: #0e236b; border-bottom: 1px solid #ccc;  margin: 0; padding: 15px 0 0 0;  }
h4 { font-size: 16px; font-weight: bold; padding: 0; margin: 0; }
.terms h4 { color: #0e236b; font-size: 16px; font-weight: normal; margin-bottom: 15px; }

.header { padding-top: 20px; }
.header .row { padding: 5px 25px; }

.stock-price { text-align: right; vertical-align: bottom; width: 25%; }
.stock-price .main { font-size: 25px; font-weight: bold; }

.container_3 { width: 1008px; margin: 0 auto; }

.row { padding: 5px 25px; }
.page { border-top: 15px solid #bfce00; clear: both; margin: 0; min-height: 1220px; overflow: hidden; padding: 0; page-break-after: always; }

.right .left { padding: 10px; }
.right .left h3 { margin: 0 0 10px 0; padding: 0; }
.right .left hr, .glossary-item, .has-factors .left { display: none; }

table.panel { width: 600px; }
table.panel td.property { text-align: right; }
.general-info td { font-weight: bold; padding: 7px 8px; }
table.panel td { padding: 7px 8px; }
table.panel.dividends td { padding: 2px 8px; }
td { vertical-align: top; }
td.right { padding-left: 20px; padding-top: 20px; }



.panel .right { text-align: right; }
table.panel td.property, .general-info td.property, table.panel td.note, .general-info td.note { font-weight: normal; }
.panel tr td.border { border-right: 2px solid #fff; }
.right table.panel { width: 100%; }

.logos { white-space: nowrap; }

.page-title { width: 700px !important; }
.page-title, .page-title span { color: #0e236b; font-size: 36px; font-weight: bold; }

.breadcrumb-tree { padding: 8px; }
.breadcrumb-tree a, 
.breadcrumb-tree span { font-size: 12px !important; text-decoration: none; color: #0e236b; font-weight: bold; }

.dark-module { margin-bottom: 20px; background: #f2f2f2 none repeat scroll 0 0; }
.module { position: relative; }

.page2 .dark-module.
.page2 .valuation { margin-bottom: 15px !important; }
.page2 .valuation h3 { margin-bottom: 0 !important; }

.last-updated { font-size: 12px; }
.last-updated .date { font-weight: bold; }
.column50 { display: inline-block; padding-left: 15px; vertical-align: top; width: 50%; }
.column50.right { padding-left: 0; width: 47%; }

.terms ul * { font-size: 11.5px; line-height: 14px; width: 90%; }
.terms ul li { margin-bottom: 11.5px; }
.terms p { font-size: 11.5px; }

.stock-events { max-height: 560px; margin: 10px 0 25px; overflow: hidden; }
.stock-events ul { border: 0; margin: 0;  padding: 10px; }
.stock-events li { display: inline-block; list-style: outside none none; margin: 0 0 9px; padding-left: 26px; position: relative; }
.stock-events li div { left: 0; position: absolute; top: 2px; background: #565a5c none repeat scroll 0 0; border-radius: 4px; color: #fff; display: inline-block; font-size: 11px !important; height: 15px; line-height: 15px; margin: 0 10px 0 0; text-align: center; width: 16px; }
.stock-events li span { color: #0e236b; cursor: pointer; font-weight: bold; text-decoration: none; line-height: 15px; }

.recommendation { overflow: hidden; padding-top: 25px; margin: 10px 0; }
.recommendation span.inline-block { width: 32%; font-weight: bold; }
.recommendation.opt-1 { background: url("../img/consensus-step-1.jpg") no-repeat; }
.recommendation.opt-2 { background: url("../img/consensus-step-2.jpg") no-repeat; }
.recommendation.opt-3 { background: url("../img/consensus-step-3.jpg") no-repeat; }
.recommendation.opt-4 { background: url("../img/consensus-step-4.jpg") no-repeat; }
.recommendation.opt-5 { background: url("../img/consensus-step-5.jpg") no-repeat; }
.consensus-price span { display: inline-block; padding-top: 8px; font-size: 18px; font-weight: bold; line-height: 22px; }
.recommendation .inline-block { display: inline-block; }

.company-header { margin: 10px 0; }
.company-header td { vertical-align: bottom; }

#area-chart,
#price-volume { width: 660px; height: 420px; }

.financials-section { overflow: hidden; }
.financials-section .left { width: 58%; padding: 0 0 0 0; float: left; margin-right: auto;}
.financials-section .right { width: 39.5%; padding: 0 0 0 2.5%; float: left; margin-left: auto;}
.financials-section td { word-wrap:break-word; padding: 4px; font: normal 11.5px/11.5px Arial, Helvetica, sans-serif !important; text-align: center; height: auto; }
.financials-section h4 { font-size: 13px; border-bottom: 1px dotted #d6d6d6; color: #4d4e50; display: inline-block; margin: 0 0 10px; }
.financials-section tr td:first-child { font-weight: bold !important; text-align: left; }
.financials-section td.right { padding-left: 5%; }
.financials-section table { table-layout: fixed; margin: 15px 0 0 0; border: medium none; border-collapse: collapse; border-spacing: 0; width: 100%; }
.financials-section p { font-size: 15px; margin-bottom: 0; }
.financials-section th { font-size: 9pt; border-left: 4px solid #fff; text-align: left; }
.financials-section thead tr { background: #fff; height: 10px; }
.financials-section th.title { text-align: center; }

.valuation .even { background: #fff; }

.factor .label img,
.alpha-factors .title img { display: none; }
.factor { margin: 0 0 10px 0; display: inline-block; width: 100%; }
.factor .label { position: relative; display: block; padding-right: 24px; font-weight: bold; font-size: 13px; line-height: 16px; }
.factor .quintiles { position: absolute; display: inline-block; width: 0; height: 11px; background: url("../img/slider-full.png") no-repeat; margin: 4px auto; cursor: pointer; white-space: nowrap; padding: 0px; }
.factor .quintiles span { display: inline-block; width: 34px; overflow: visible; height: 11px; margin-left: 1px; }
.factor .per-100 { width: 177px; }
.factor .per-80 { width: 143.6px; }
.factor .per-60 { width: 108.2px; }
.factor .per-40 { width: 72.8px; }
.factor .per-20 { width: 37.4px; }
.factor .bar { display: inline-block; width: 177px; height: 12px; background: url("../img/slider-empty.png") no-repeat; margin: 4px auto; }
.factor .left-label, .factor .right-label { display: inline-block; font-weight: bold; font-size: 10px; line-height: 10px; text-transform: uppercase; width: 54px; vertical-align: top; position: relative; top: 6px; text-align: center; }
.factor .right-label { position: relative; margin-left: 10px;  text-align: left; }

.module-stock-slider .bar, 
.module-stock-slider .slider-bar { background: #808080; position: absolute; top: 50%; margin-top: -3px; height: 6px; -webkit-border-radius: 10px; border-radius: 10px; width: 100%; }

.page2 .dark-module.gti-block { margin-top: 0; margin-bottom: 0 !important; display: table; }
.gti-block tr { display: table-row; }
.gti-block thead { font-weight: bold; }
.gti-block .even { background-color: #fff; }
.gti-block td { display: table-cell; width: 30%; padding: 5px 10px; }
.gti-link { padding: 10px; }
.gti-link a { font-weight: bold; color: #0e236b; text-decoration: none; }

table.footer { background-color: #eee; width: 100%;}
table.footer td { padding: 8px; }
table.footer * { color: #333; font-family: Arial,Helvetica,sans-serif; font-size: 8.5px; }

.change.negative {
  color: red;
}