.search-results {
	margin-top: 15px;
	display: none;
}


.search-results .toolbar {
    background-color: #f3f3f3;
    border-image: none;
    border-style: solid none;
    border-width: 1px medium;
    height: 39px;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

.search-results .toolbar .column {
    width: 33%;
    display: inline-block;
}

.search-results .toolbar.home .column {
    width: 33%;
    display: inline-block;
	float: left;
}

.search-results .toolbar.home .column.center,
.search-results .toolbar.home .column.right {
	position: relative;
	top: 7px;
}

.search-results .toolbar .results {
    color: #565a5c;
    font-size: 14px;
    font-style: italic;
    line-height: 39px;
    text-indent: 10px;
}

.search-results .toolbar .customize {
    margin-right: 16px !important;
    text-align: center;
    width: 200px;
}

.search-results table {
  border-spacing: 0;
  border-collapse: collapse;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border-right: 1px solid #ccc;
}

.search-results table thead tr {
  background: #eee;
}

.search-results table thead tr th {
  color: #0e236b;
  border: 1px solid #ccc;
  padding: 8px 12px;
  font: bold 14px/12px Arial, Helvetica, sans-serif;
  text-align: center;
  cursor: pointer;
  vertical-align: top;
}

.search-results table thead tr th span {
	color: #0e236b;
	display: block;
}

.search-results table thead tr th span.fmt {
	font-size: smaller;
	font-weight: normal;
	margin-top: 3px;
}

.search-results table thead tr th.asc {
  background: url("../img/sort_ascending.png") no-repeat right 5px center;
}

.search-results table thead tr th.desc {
  background: url("../img/sort_descending.png") no-repeat right 5px center;
}


.search-results table tbody td {
  color: #000;
  border: 1px solid #ccc;
  padding: 8px 12px;
  font: normal 12px/12px Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 125%;
  vertical-align: top;
}

.search-results table .industryGroup {
  text-align: left;
  width: 220px;
}

.search-results table .companyName {
  text-align: left;
  width: 220px;
}

.search-results table .tickerCode {
  width: 50px;
}

.search-results table tbody td a {
  color: #1e217c;
}

.search-results .pager {
	font-weight: bold;
	text-align: right;
}

.search-results .pager input {
	width: 25px;
	display: inline-block;
	margin: 0 6px;
	text-align: center;
}

.search-results .pager .action-btn {
	margin-left: 6px;	
}

.search-results .pager .action-btn.left {
	margin-right: 6px;	
}

.no-results {
	margin: 10px 0 20px 0;
	padding: 15px;
	border: 1px solid #CCC;
	font-weight: bold;
}

.customize-display-modal { width: 550px; height: 460px; }
.customize-display-modal span { display: inline-block; width: 46%; }
