.valuation-performance {
	position: relative;
	top: -2px;
	z-index: 1;
	border: 2px solid #ebecec;
	padding: 30px 0px 10px;
}

.valuation-performance a {
	text-decoration: none;
}

.valuation-performance a:hover {
	text-decoration: none;
	color:#eee !important;
}

.valuation-performance ul {
	padding: 8px 0;
	margin: 0;
}

.valuation-performance .header-bar li {
	list-style: none;
	display: inline-block;
	margin-left: 8px;
}

.valuation-performance .header-bar li:first-child {
	margin-left: 0;
	padding-right: 12px;
	border-right: 2px solid #fff;
}
.valuation-performance .header-bar li.downArrow:first-child {
	padding-right: 5px;
}

.downArrow:after {
	content:"";
	position:relative;
    top:34px;
    right:63px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 7.5px 0 7.5px;
	border-color: #0e236b transparent transparent transparent;
}

.negativePerChange{
	color: #FF0000;
}

.header-bar {
	background: #0e236b;
	text-align: center;
	font-weight: bold;
}

.header-bar a {
	color: #ffffff;
}

.header-bar a:hover {
	color: #ffffff;
}

.header-bar a.active {
	cursor: default;
	color: #ffffff;
}

.performance, .transactions {
	display: none;
}

.show-hidden {
	display: block !important;
}

/* valuation performance part */
.valuation-results {
	margin-top: 15px;
	display: none;
}

.valuation-results table {
	border-spacing: 0;
	border-collapse: collapse;
	margin-top: 20px;
	margin-bottom: 10px;
	width: 98%;
	border-right: 1px solid #ccc;
}

.valuation-results table tbody td {
	color: #000;
	border: 1px solid #ccc;
	padding: 8px 12px;
	font: normal 12px/12px Arial, Helvetica, sans-serif;
	text-align: left;
	line-height: 280%;
	vertical-align: top;
}

.valuation-results table thead tr {
	background: #eee;
}

.valuation-results table thead tr th {
	color: #0e236b;
	border: 1px solid #ccc;
	padding: 8px 12px;
	font: bold 14px/12px Arial, Helvetica, sans-serif;
/* 	font-weight: bold; */
	text-align: left;
	cursor: pointer;
	vertical-align: top;
	line-height: 25px;
}

.valuation-results table thead tr th.asc {background: url("../img/sort_ascending.png") no-repeat left 125px top 16px;}

.valuation-results table thead tr th.desc {background: url("../img/sort_descending.png") no-repeat left 125px top 12px;}

.valuation-results table thead tr th.dateasc {background: url("../img/sort_ascending.png") no-repeat left 88px top 12px;}

.valuation-results table thead tr th.datedesc {background: url("../img/sort_descending.png") no-repeat left 88px top 8px;}

.valuation-results table thead tr th.shareasc {background: url("../img/sort_ascending.png") no-repeat left 69px top 12px;}

.valuation-results table thead tr th.sharedesc {background: url("../img/sort_descending.png") no-repeat left 69px top 8px;}

.valuation-results table thead tr th.closepasc {background: url("../img/sort_ascending.png") no-repeat left 88px top 12px;}

.valuation-results table thead tr th.closepdesc {background: url("../img/sort_descending.png") no-repeat left 88px top 8px;}

.valuation-results table thead tr th.currrentpasc {background: url("../img/sort_ascending.png") no-repeat left 66px top 12px;}

.valuation-results table thead tr th.currrentpdesc {background: url("../img/sort_descending.png") no-repeat left 66px top 8px;}


.valuation-results table .companyName {
	text-align: left;
	width: 220px;
}

.valuation-results table .tickerCode {
	width: 50px;
}

.valuation-results .company-row {
	color: #000;
	border: 1px solid #ccc;
	padding: 8px 12px;
	font: 12px/12px Arial, Helvetica, sans-serif;
	text-align: left;
	line-height: 280%;
	vertical-align: top;
}

.no-results {
	margin: 10px 0 20px 0;
	padding: 15px;
	border: 1px solid #CCC;
	font-weight: bold;
}

.customize-display-modal {
	width: 550px;
	height: 460px;
}

.customize-display-modal span {
	display: inline-block;
	width: 46%;
}

.add-button {
	display: inline-block;
	background: #0e236b;
	-webkit-border-radius: 4px;
	padding: 8px 15px 8px 15px;
	color: #fff !important;
	cursor: pointer;
	text-decoration: none !important;
	border-radius: 4px;
}

.clear-button {
	display: inline-block;
	background: #0e236b;
	-webkit-border-radius: 4px;
	padding: 8px 15px 8px 15px;
	color: #fff !important;
	cursor: pointer;
	text-decoration: none !important;
	border-radius: 4px;
}

.save-button {
	display: inline-block;
	background: #0e236b;
	-webkit-border-radius: 4px;
	padding: 8px 25px;
	color: #fff !important;
	cursor: pointer;
	margin-right: 20px;
	font: normal 15px/15px Arial, Helvetica, sans-serif;
	text-decoration: none !important;
	border-radius: 4px;
}

.imgCenterAllign {
	cursor: pointer;
	margin-top: 10px;
    text-align: center;
}

.imgIntCenterAllign {
	cursor: pointer;
    text-align: center;
    padding-bottom: 5px;
}


/* transaction part */
.transactions .company-row {
	color: #000;
	border: 1px solid #ccc;
	padding: 8px 12px;
	font: bold 12px/12px Arial, Helvetica, sans-serif;
	text-align: left;
	line-height: 280%;
	vertical-align: top;
}
.transactions table {
	border-spacing: 0;
	border-collapse: collapse;
	margin: 10px 20px;
	border-right: 1px solid #ccc;
}

.transactions table tbody td {
	color: #000;
	border: 1px solid #ccc;
	padding: 8px 12px;
	font: normal 12px/12px Arial, Helvetica, sans-serif;
	text-align: left;
	line-height: 280%;
	vertical-align: top;
}

.transactions table thead tr th.asc {background: url("../img/sort_ascending.png") no-repeat left 125px top 10px;}

.transactions table thead tr th.desc {background: url("../img/sort_descending.png") no-repeat left 125px top 5px;}

.transactions table thead tr th.dateasc {background: url("../img/sort_ascending.png") no-repeat left 54px top 12px;}

.transactions table thead tr th.datedesc {background: url("../img/sort_descending.png") no-repeat left 54px top 8px;}

.transactions table thead tr th.shareasc {background: url("../img/sort_ascending.png") no-repeat left 69px top 12px;}

.transactions table thead tr th.sharedesc {background: url("../img/sort_descending.png") no-repeat left 69px top 8px;}

.transactions table thead tr th.priceasc {background: url("../img/sort_ascending.png") no-repeat left 50px top 12px;}

.transactions table thead tr th.pricedesc {background: url("../img/sort_descending.png") no-repeat left 50px top 8px;}

.transactions table thead tr th.lastpriceasc {background: url("../img/sort_ascending.png") no-repeat left 41px top 12px;}

.transactions table thead tr th.lastpricedesc {background: url("../img/sort_descending.png") no-repeat left 41px top 8px;}

.transactions table thead tr th.typeasc {background: url("../img/sort_ascending.png") no-repeat left 50px top 11px;}

.transactions table thead tr th.typedesc {background: url("../img/sort_descending.png") no-repeat left 50px top 5px;}

.transactions table tbody tr td input {
	width: 90px;
	height: 25px;
	text-align: left;
	display: inline-block;
	font: normal 12px/12px Arial, Helvetica, sans-serif;
}

.transactions .select-company {
	width: 220px;
	height: 30px;
	display: inline-block;
}

.transactions .select-type {
	width: 90px;
	height: 30px;
	display: inline-block;
}

.transactions table thead tr th {
	color: #0e236b;
	border: 1px solid #ccc;
	padding: 8px 12px;
	font: bold 14px/12px Arial, Helvetica, sans-serif;
	text-align: left;
	cursor: pointer;
	vertical-align: top;
}

.transactions table thead tr {
	background: #eee;
}


.panel {
	background-color: #d5e3ea;
	border: solid 1px #d5e3ea;
}

.w80P {
	width: 65%
}

.w85P {
	width: 85%
}

.w20P {
	width: 20%
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.textCenter {
	text-align: center !important;
}

.blueCl{
	color: #0e236b;
	font: bold 14px/12px Arial, Helvetica, sans-serif;
	line-height: 16px;
}

.blackCl{
	color: #000000;
	font: bold 14px/12px Arial, Helvetica, sans-serif;
}

.clear {
	clear: both;
}

.ml5p {
	margin-left: 5px;
}

.ml10p {
	margin-left: 10px;
}

.mt15p {
	margin-top: 15px;
}

.portfolioCalc{
	color: #060606;
	border: 1px solid #060606;
	padding: 8px 12px;
	font: bold 14px/12px Arial, Helvetica, sans-serif;
	text-align: left;
	cursor: pointer;
	vertical-align: top;
}

.portfolioMenu {
	margin-left: 10px;
}

.portfolioMenu h3 {
	border-bottom: 1px solid #cccccc;
	font-weight: bold;
	color: #000000;
	padding-top: 10px;
}

.portfolioMenu ul li {
    display: inline;
    float: left;
    width: 19%;
    margin-left: 15px;
    border-right: 1px solid #cccccc;
}

.portfolioMenu ul li:last-child, 
.portfolioMenu ul li:nth-child(3) {
    border: 0 !important;
}

.deleteTran {
	padding: 0;
    margin: 25px 0 0 0;
}

.deleteTran span {
    display: inline-block;
    font-size: 12px;
    background: #0e236b;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    line-height: 22px;
    padding: 0 10px;
    color: #fff !important;
    cursor: pointer;
    border-radius: 4px;
}

.w935p {
	width: 935px;
}

.multiTransCompany { 
	color :#0e236b;
	padding-top:8px;
}

.multiTransCompany span{ 
    color :#0e236b;
    cursor: pointer;
}

.valuation-results table tbody tr td input[type=checkbox] {
width: 17px;
height: 17px;
}

.valuation-results table thead tr th input[type=checkbox] {
width: 17px;
height: 17px;
}

.pl8p {
	padding-left: 8px;
}

.pl25p {
	padding-left: 25px;
}

.fs16p{
	font-size:16pt;
	padding-top:10px;
	padding-right:10px;
}

.fs18p{
	font-size:18pt;
	padding-top:10px;
	padding-right:10px;
}

.totInv
{
	float: left;
    margin-left: -15px;
}
/* ---------pagination------------- */
.pagination-container {
    text-align: right;
    width: 98%;
}

.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 20px 0;
}

.pagination>li {
	display: inline
}

.pagination>li>a, .pagination>li>span {
	position: relative;
	padding: 3px 6px 0px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #0e236b;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #a6a6a6;
	height: 19px;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
	margin-left: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus,
	.pagination>li>span:hover {
	z-index: 2;
	color: #0e236b;
	background-color: #eee;
	border-color: #ddd
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover,
	.pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
	{
	display: inline-block;
	z-index: 3;
	color: #fff;
	cursor: default;
	background-color: #0e236b;
	border-color: #0e236b;
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover,
	.pagination>.disabled>span, .pagination>.disabled>span:focus,
	.pagination>.disabled>span:hover {
	display: none;
	color: #777;
	cursor: not-allowed;
	background-color: #fff;
	border-color: #ddd
}

.pagination-lg>li>a, .pagination-lg>li>span {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333
}

.pagination-lg>li:first-child>a, .pagination-lg>li:first-child>span {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px
}

.pagination-lg>li:last-child>a, .pagination-lg>li:last-child>span {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px
}

.pagination-sm>li>a, .pagination-sm>li>span {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5
}

.pagination-sm>li:first-child>a, .pagination-sm>li:first-child>span {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px
}

.pagination-sm>li:last-child>a, .pagination-sm>li:last-child>span {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px
}

.valuation-save { width: 938px; background: #fffbd6; border: 1px solid #b3c5cf; line-height: 28px; padding: 0 10px; color: #333; font-size: 11.5px; font-style: italic; margin-top: 10px; margin-left: 20px;}


