/** headeder */

.user-guide {
	float: right;
	cursor: pointer;
}

.screener-header {
  margin-bottom: 20px;
}

.screener-header table td {
  padding: 0;
}

.screener-header .button {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  height: 24px;
  margin-right: 2px;
}

.screener-header table {
	width: 100%;
}

.screener-header table td {
	vertical-align: top;
}

.screener-header .description {
	background-color: #f3f3f3;
	width: 699px;
}

.screener-header .message {
	width: 300px;
	background-color: #0e236b;
	font-color: #FFF;
	line-height: 150% !important;
}

.screener-header .message a {
	font-weight: bold;
	color: #CCC;
}

.screener-header .description .screener-basic, .screener-header .description .screener-toggles {
	margin-top: 20px;
	padding: 18px 25px 8px 25px;
}

.screener-header .description .screener-basic {
	margin-bottom: 8px;
}

.screener-header .searchtoggle {
	margin: 0;
}

.screener-header .searchtoggle .toggle {
	display: inline-block;
	margin: 0px;
	padding-left: 15px; 
	padding-right: 15px;
	background-color: #565a5c;
}

.screener-header .searchtoggle .toggle.sname {
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-bottomright: 0;
	border-bottom-right-radius: 0;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topright: 0;
	border-top-right-radius: 0;
}

.screener-header .searchtoggle .toggle.scode {
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-left-radius: 0;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
	border-top-left-radius: 0;
}

.screener-header .searchtoggle .selected {
	background-color: #0e236b;
}

.screener-header .searchbar {
	margin: 10px 0;
	border: 1px solid #0e236b;
	display: inline-block;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	height: 22px;
	position: relative;
	width: 212px;
	background: #fff;
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

.screener-header .searchbar input {
	border: none;
	padding: 0px;
	color: #494949;
	font: normal 12px Arial, Helvetica, sans-serif;
	font-style: italic;
	width: 186px;
	height: 22px;
	text-indent: 10px;
	background: none;
}

.screener-header .search-submit {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 26px !important;
	height: 0;
	padding-top: 22px;
	background: #0e236b url("../img/searchbar-icon.jpg") no-repeat center center !important;
	z-index: 20;
	cursor: pointer;
	z-index: 1;
}

.screener-header .description .screener-toggles {
	margin-top: 0;	
	margin-bottom: 16px;
	background-color: #bebebe;
}

.screener-header .description .screener-toggles .buttons {
	margin-bottom: 10px;	
}

.screener-header .description .screener-toggles .button{
	background-color: #666aa8;	
}

.screener-header .screener-toggles .button .arrow { 
	display: none;
}

.screener-header .screener-toggles .button.selected,
.screener-header .description .screener-toggles .button-alerts  {
	background-color: #0e236b;
}

.screener-header .description .screener-toggles .button-alerts { float: right; }

.screener-header .screener-toggles .button.selected .arrow {
	background: transparent url('../img/down-arrow.png') no-repeat center center;
	display: block;
	height: 4px;
	position:relative;
	top: 2px;
}

.screener-header .message .promo-text {
	padding: 20px;
}

.screener-header .message .promo-image {
	height: 250px;
	overflow: hidden;
}

/** search options */

.search-options {
	display: none;
}

.search-options p {
	padding: 0 10px;
}

/** criteria */


table.search-criteria {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin-top: 15px;
}

table.search-criteria thead tr {
  height: 31px;
}

table.search-criteria th {
  font: bold 14px/14px Arial, Helvetica, sans-serif;
  color: #000;
  text-align: center;
  padding: 0 10px;
  border-bottom: 1px dotted #d6d6d6;
}

table.search-criteria th:first-child {
  text-align: left;
}

table.search-criteria tr {
  height: 45px;
  font-size: 14px;
}

table.search-criteria tr.criteria .dropdown {
  width: 347px;
}

table.search-criteria td:first-child {
  text-align: left;
}

table.search-criteria td {
  padding: 0 10px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}

table.search-criteria td.max {
  padding-left: 0;
}

table.search-criteria .label {
	vertical-align: top;
	padding-top: 7px;
}

table.search-criteria .label span {
  color: #0e236b;
  display: inline-block;
  width: 80px;
  padding-bottom: 4px;
}

table.search-criteria .label img {
	float: right;
	vertical-align:middle;
	cursor: pointer;
}

table.search-criteria .remove {
	vertical-align:middle;
	cursor: pointer;
}

.trigger {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox {
  height: 19px;
}
.checkbox .trigger {
  padding-left: 32px;
  color: #000;
  font: bold 12px/18px Arial, Helvetica, sans-serif;
  background: url("../img/bg-checkboxes.png") no-repeat 0 -26px;
}

.customize-display-modal .checkbox{
  height:auto;
}

.customize-display-modal .checkbox .trigger {
  background: none;
  position:relative;
}

.customize-display-modal .checkbox .trigger span{
  font: bold 12px/18px Arial, Helvetica, sans-serif;
  display:inline;
  width:100%;
}

.customize-display-modal .checkbox .trigger .check-overlay {
  position:absolute;
  left:0;
  top:0;
  width:18px;
  height:18px;
  background: url("../img/bg-checkboxes.png") no-repeat 0 -26px;
}

.customize-display-modal .checkbox .trigger .check-overlay:hover {
  background-position: 0 -54px;
}

.customize-display-modal .checkbox.checked .trigger .check-overlay {
  background-position: 0 0;
}

.customize-display-modal .checkbox.checked .trigger .check-overlay:hover {
  background-position: 0 0;
}

.checkbox .trigger:hover {
  background-position: 0 -54px;
}
.checkbox.checked {
  background-position: 0 0;
}
.checkbox.checked .trigger,
.checkbox.checked:hover {
  background-position: 0 0;
}
.checkbox input {
  display: none;
}

/** loading */

#loading {
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-color: rgba(255,255,255,0.8);
  position: fixed;
  z-index: 100;
}
#loading .loading-text {
  font-size: 44px;
  color: #0e236b;
  text-align: center;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  vertical-align: middle;
  height: 30px;
  top: 50%;
  margin-top: -15px;
}

/** percent change */

.pchange-container {
	width: 600px;
	height: 330px;
	overflow-x: hidden;
}

.pchange-container .column {
	display: inline-block;
}

.pchange-container span div {
	margin-top: 4px;
}

.pchange-container .column {
	margin-right: 20px;
	margin-bottom: 10px;
}

.pchange-container input {
	width: 30px;
}

.pchange-container .ui-datepicker {
	background-color: #eee;
}

/** factors */

.alpha-factors {
	margin: 20px 0; 
}

.alpha-factors .column {
	width: 49%;
	display: inline-block;
}

.alpha-factors .column.rt {
  border-left: 1px solid #c1c1c1;
  padding-left: 7px;
}


.alpha-factors .row {
	background-color: #e8e8e8;
}

.alpha-factors .row.odd {
  background: #f2f2f2;
}

.factor {
	padding:12px 0 12px 12px;
	margin: 0;
}

.factor .label {
	padding: 2px 0 0 0;
	width: 160px;
	vertical-align: top;
}

.factor .right-label {
	top: 3px;
	margin-left: 3px;
	padding-top: 3px;
	width: 80px;
	height: 20px;
	text-align: left;
}

.factor .right-label.selected {
	background: transparent url('../img/ico-clear_text.png') no-repeat right 1px;
	cursor: pointer;
}

.factor .tooltip {
	width: 390px;
}

select {
	width: auto;
}