<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="exceptionManagement" type="Wmsi.Utilities.ExceptionManagement.ExceptionManagerSectionHandler, Wmsi.Utilities.ExceptionManagement" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Wmsi.Services.RSN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Wmsi.Utilities.ExceptionManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <exceptionManagement>
    <publisher mode="On" assembly="Wmsi.Utilities.ExceptionManagement" type="Wmsi.Utilities.ExceptionManagement.ExceptionDefaultPublisher" logname="Application" applicationname="Application" operatorMail="sgxsupport@dstsystems.com" emailDisplayName="WMSI Exceptions" subjectMail="Prod - Wmsi.SGX.Operations - Exception" useAdditionalInfoEmail="true" smtpServer="mywmsi-com.mail.protection.outlook.com" smtpPort="25" smtpUserName="ExceptionManagement@wealthmsi.com" />
  </exceptionManagement>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <!-- <add key="SGXDomain" value="sgx-premium.wealthmsi.com" /> -->
    <add key="SGXDomain" value="sgx2.sharefc.com" /> 

    <add key="tickerURL" value="http://infopub.sgx.com/SitePages/StockNIndices_SnPDetails.aspx" />
    <add key="xtraTickerURL" value="http://infopub.sgx.com/sitepages/StockNIndices_ASEANList.aspx" />
    <add key="SGX_ValueVolume_URL" value="http://infopub.sgx.com/SitePages/StockNIndices_SnPValVol.aspx" />
    <add key="AdjustmentFactorFileName" value="qa-adjustment-factor.csv" /><!-- This file is created by the WMSI Export -->
    
    
    <!-- 
    This resource is firewall protected.
    <add key="SGX_ValueVolume_URL" value="http://qainfopub.sgx.com/SitePages/StockNIndices_SnPValVol.aspx" /> 
    -->


    <!--<add key="EmailTo" value="aamoros@dstsystems.com, sgxsupport@dstsystems.com, ksethi@dstsystems.com, mparcewski@dstsystems.com, jcostello@dstsystems.com" />-->
    <add key="EmailTo" value="aamoros@wealthmsi.com" />
    <add key="EmailFrom" value="itoperations@wealthmsi.com" />

    <add key="SmtpHost" value="mywmsi-com.mail.protection.outlook.com" />
    <add key="SmtpPort" value="25" />
    <!--
    <add key="SmtpUserName" value="AKIAILM2MCZLWH6LLBWQ" />
    <add key="SmtpPassword" value="AlxnDsap3lIu9w2Zfsvvs4ypqd8YwGFu3bkf4v4j6794" />
    -->
    <add key="ftpURL" value="ftp.visitfc.com" />
    <add key="ftpUsername" value="SGX" />
    <add key="ftpPassword" value="8NTkcAy4Lm_k" />
    <!-- <add key="ftpDirectory" value="/home/SGX/XpressFeed_QA" /> -->
  </appSettings>

  <system.net>

    <defaultProxy>
      <proxy bypassonlocal="False" usesystemdefault="True" />
    </defaultProxy>
  </system.net>
</configuration>