<td class="label">
	<span data-bind="text: field.name"></span>
	<img data-bind="tooltip: field.id" src="img/info-tab-large.png" alt="" width="20" height="20" />
</td>
<td colspan="3" class="middle" data-bind="style: { 'display': $('.' + field.id + '-denied').length == 0 ? null : 'none' }">

	<div class="button-dropdown" data-bind="attr: { 'data-label': field.label }">
		<input class="copy" type="hidden" data-bind="value: val" />
		<div class="trigger"><span class="copy" data-bind="text: field.label"></span>
			<span class="arrow"></span>
		</div>
		<div class="dropdown">
			<ul data-bind="foreach: field.buckets">
				<li data-bind="text: $parent.field.hasOwnProperty('itemLabels') && $parent.field.itemLabels.hasOwnProperty(key) ? $parent.field.itemLabels[key] : key, attr: { 'data-value': key } "></li>
			</ul>
		</div>
	</div>
	
</td>
<td colspan="3" class="middle" data-bind="style: { 'display': $('.' + field.id + '-denied').length > 0 ? null : 'none' }">
	<span data-bind="text: field.notPermitted"></span>
</td>


<td class="remove">
<!-- ko ifnot:field.name.toLowerCase() == 'exchange' -->
	<img data-bind="tooltip: 'criteriaRemove', click: criteria.clickEvents.removeCriteria, style: { 'display': $('.' + field.id + '-denied').length == 0 ? null : 'none' }" src="img/x-button.png" alt="" />
<!-- /ko -->
</td>
