/** standard CSS overrides */

body {
    min-width: 1000px;
    padding: 0 0 25px 0;
    margin: 0px;
}

body * {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	line-height: 130%;
}

a img {
	border: none;	
}

h1 {
  margin: 20px 0 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #0e236b;
}

h2 {
    color: #0e236b;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
}

h3, h3 span {
    color: #0e236b;
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;
}

h4, h4 span {
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
}

h5 {
    color: #0e236b;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}

h6 {
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
}

p {
	margin: 15px 0;
}

strong, b {
	font-weight: bold;
}

i { font-style: italic; }

li ul, li ol {
	margin:0 3em;
}

ul, ol {
	margin:1em 3em 3em 3em;
}

ul {
	list-style-type:disc;
}

ol {
	list-style-type:decimal;
}

ol ol {
	list-style: upper-alpha;
}

ol ol ol {
	list-style: lower-roman;
}

ol ol ol ol {
	list-style: lower-alpha;
}

table th, table td {
	padding: 5px 10px;
}

.left {
	text-align: left !important;
}

.center {
	text-align: center !important;
}

.right {
	text-align: right !important;
}

.top {
	vertical-align: top !important;
}

.middle {
	vertical-align: middle !important;
}

.bottom {
	vertical-align: bottom !important;
}

.bold {
	font-weight: bold !important;
}

.normal {
	font-weight: normal !important;
}

.tooltip-item {
	cursor: pointer; position: relative; top: 2px;
}

.inline-block {
	display: inline-block;
}

.section-break {
	margin-top: 15px;
}

.in-section-break {
	margin-top: 8px;
}

.gray {
	background-color: #f2f2f2;
}

.gray-border {
	border:1px solid #ccc;
}

.padded {
	padding: 10px;
}

.gray hr {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    height: 3px;
    margin: 10px 18px;
} 

/* Containers */

.grid {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  padding-left: 0px;
  vertical-align: top;
}

#charting .grid,
#comparables .grid { padding-left: 0 !important; }

.grid .column-one, .grid .column-two {
    display:inline-block;
	vertical-align: top;
}

.grid .column-one {
    width:699px;
}

.grid .column-two {
	width:297px;
}

.grid.disclosure {
	margin-top: 20px;
}

/** buttons */

.button {
	display: inline-block;
	font-size: 12px;
	background: #0e236b;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	line-height: 22px;
	padding: 0 10px;
	color: #fff !important;
	cursor: pointer;
}

.button img {
	vertical-align: middle;
}

.button a,
a.button { color: #fff !important; text-decoration: none; }
.button a:hover,
.button:hover { text-decoration: none !important; }
.button.disabled-btn { background: #0e236b; }

.button-reset { color: #1e2171 !important; }

.terms-premium a { color: #0e236b; text-decoration: underline; cursor: pointer; }
.terms-premium a:hover { text-decoration: none; }

.action-btn {
  color: #0e236b;
  display: inline-block;
  height: 22px;
  line-height: 22px;
  padding: 0 6px;
  border: 1px solid #a6a6a6;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-right: 4px;
  margin-left: 0px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  background-color: #e0e0e0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#cfcfcf), to(#e1e1e1));
  background-image: -webkit-gradient(linear, left bottom, left top, from(#cfcfcf), to(#e1e1e1));
  background-image: -webkit-gradient(linear, left bottom, left top, from(#cfcfcf), to(#e1e1e1));
  background-image: -webkit-gradient(linear, left bottom, left top, from(#cfcfcf), to(#e1e1e1));
  background-image: -webkit-gradient(linear, left bottom, left top, from(#cfcfcf), to(#e1e1e1));
  background-image: -webkit--webkit-linear-gradient(bottom, #cfcfcf, #e1e1e1);
  background-image: -webkit--moz-linear-gradient(bottom, #cfcfcf, #e1e1e1);
  background-image: -webkit--o-linear-gradient(bottom, #cfcfcf, #e1e1e1);
  background-image: -webkit--ms-linear-gradient(bottom, #cfcfcf, #e1e1e1);
  background-image: -webkit-linear-gradient(to top, #cfcfcf, #e1e1e1);
  background-image: -moz--webkit-linear-gradient(bottom, #cfcfcf, #e1e1e1);
  background-image: -moz--moz-linear-gradient(bottom, #cfcfcf, #e1e1e1);
  background-image: -moz--o-linear-gradient(bottom, #cfcfcf, #e1e1e1);
  background-image: -moz--ms-linear-gradient(bottom, #cfcfcf, #e1e1e1);
  background-image: -moz-linear-gradient(to top, #cfcfcf, #e1e1e1);
  background-image: -o--webkit-linear-gradient(bottom, #cfcfcf, #e1e1e1);
  background-image: -o--moz-linear-gradient(bottom, #cfcfcf, #e1e1e1);
  background-image: -o--o-linear-gradient(bottom, #cfcfcf, #e1e1e1);
  background-image: -o--ms-linear-gradient(bottom, #cfcfcf, #e1e1e1);
  background-image: -o-linear-gradient(to top, #cfcfcf, #e1e1e1);
  background-image: -webkit-linear-gradient(bottom, #cfcfcf, #e1e1e1);
  background-image: -moz-linear-gradient(bottom, #cfcfcf, #e1e1e1);
  background-image: -o-linear-gradient(bottom, #cfcfcf, #e1e1e1);
  background-image: -ms-linear-gradient(bottom, #cfcfcf, #e1e1e1);
  background-image: linear-gradient(to top, #cfcfcf, #e1e1e1);
  -webkit-box-shadow: 0 1px 1px #f0f0f0 inset;
  box-shadow: 0 1px 1px #f0f0f0 inset;
}

.action-btn.inactive {
	color: #888;
	cursor: auto;
}

.column-two a { color: #0e236b; text-decoration: none; }
.column-two a:hover { text-decoration: underline; }
.column-two .learn-more sup { position: relative; top: -2px; }

/** sections */

/* Premium Header */
header.header { margin: 10px 0 0 0; }
.header .login-bar { background: #d5e3ea; border: 1px solid #b3c6cf; color: #333 !important; height: 28px; font-size: 0; display: none; }
.header .login-bar.premium,
.header .login-bar.non-premium { display: block; }
.header .login-bar .hide { display: none !important; }
.header .login-bar a { color: #0b236b; text-decoration: none; }
.header .login-bar a:hover { text-decoration: underline; }
.header .login-bar span,
.header .login-bar ul,
.header .login-bar ul li,
.header .login-bar select { display: inline-block; line-height: 20px !important; height: 20px !important; }
.header .login-bar .stock-facts { margin: 0 0 0 12px; line-height: 29px !important; }
.header .login-bar.logged-in .stock-facts { font-weight: bold; padding: 0 12px }
.header .login-bar .logged-in-as { background: #b3c6cf; font-weight: bold; padding: 1px 9px 7px 6px; margin: 0 0 0 12px; font-size:9pt; }
.header .login-bar .logged-in-as span {font-size:9pt;}
.header .login-bar span {line-height: 28px !important;}
.header .login-bar ul { margin: 0 !important; padding: 0 6px; }
.header .login-bar ul li { border-right: 1px solid #333; line-height: 16px !important; padding: 0 10px 0 6px; }
.header .login-bar ul li a { text-decoration: none; }
.header .login-bar ul li a:hover { text-decoration: underline; }
.header .login-bar ul li.last { border-right: 0; }
.header .login-bar .currency { font-weight: bold; }
.header .login-bar select,
.settings select { font-size: 8pt; font-weight: bold; }
.header .login-bar .right { float: right; margin: 0 12px 0 0; }
.header .login-bar .button { color: #fff; line-height: 20px; height: 20px; margin: 4px 0 4px 8px; }
.header .login-bar .button:hover { text-decoration: none; }

.header .profile { background: #0b236b; margin: 18px 0; }
.header .profile .left { float: left; margin: 28px 0 10px 22px; width: 68.5%; }
.header .profile .right { float: right; margin: 0 18px 0 0; }
.header .profile h1 { margin: 0 0 10px 0 !important; }
.header .profile h1, .header .profile h1 span  { color: #fff; font-size: 27px; line-height: 27px !important; }
.header .profile .breadcrumb { color: #fff; }
.header .profile .breadcrumb a { color: #fff; text-decoration: none;}
.header .profile .breadcrumb a:hover { text-decoration: underline; }
.header .profile .pricing .currency,
.header .profile .pricing .price,
.header .profile .as-of,
.header .profile .as-of .date,
.header .profile .as-of .time { color: #fff !important; }
.header .profile .right.price { width: 27% !important; }
.header .profile .right .current-currency { color: #fff; padding: 8px; font-size: 9pt; }
.header .profile .right .current-currency span { color: #fff !important; font-size: 9pt; text-transform: uppercase !important; }

.header .profile .profile-bar { background: #031753; padding: 8px 0 8px 22px; display: block; clear: both; }
.header .profile .profile-bar a { background: url(../img/bg-profile-bar.png) no-repeat; color: #fff; text-decoration: none; font-size: 9pt !important; height: 17px; line-height: 17px; }
.header .profile .profile-bar a:hover { text-decoration: underline; cursor: pointer; }
.header .profile .profile-bar .right { margin: 0 20px 0 0 !important; }
.header .profile .profile-bar .right a { margin: 0 0 0 32px; }
.header .profile .profile-bar a.back { background-position: 0 0; padding: 2px 0 0 21px; }
.header .profile .profile-bar a.view { background-position: 0 -27px; padding: 3px 0 2px 24px; }
.header .profile .profile-bar a.add { background-position: 0 -59px; padding: 1px 0 0 21px; }
.header .profile .profile-bar a.down-print { background-position: 0 -86px; padding: 2px 0 0 21px; } 

.header .profile nav { margin: 10px 22px 0 24px; position: relative; }
.header .profile nav ul { font-size: 0; overflow: hidden; }
.header .profile nav ul li { display: inline-block; font-size: 13pt !important; line-height: 38px; padding-top:2px; }
.header .profile nav ul li a { font-size:12pt; padding: 10px 45px; color: #fff; text-decoration: none; border: 1px solid #000; border-bottom: 0 !important; border-radius: 8px 8px 0 0; }

/* Nav Active Link Styles */
.header .profile nav ul li a:hover,
#tearsheet .header .profile nav ul li.company-tearsheet a,
#financials .header .profile nav ul li.company-financials a,
#estimates .header .profile nav ul li.company-estimates a,
#alerts .header .profile nav ul li.company-alerts a,
#charting .header .profile nav ul li.company-charting a,
#comparables .header .profile nav ul li.company-comparables a { background: #fff; color: #000; border-color: #fff; border-radius: 8px 8px 0 0; cursor: pointer; }

#premium h5 { text-transform: uppercase; color: #333; }
#premium .grid.preview {margin-bottom:15px;}
#premium h1 { margin: 3px 0 0 !important; }
#premium .premium-wrapper .trial-box { background: #e6e7e7; padding: 25px; width: 385px; float: left; margin: 0 25px 0 0  }
#premium .premium-wrapper .trial-box p { color: #333;  margin: 0 0 20px 0; font-size: 13pt; }
#premium .premium-wrapper .trial-box p i { font-size: 10pt !important; }
#premium .premium-wrapper .trial-box .button { font-size: 13pt; margin: 0 15px 0 0; padding: 7px 25px; text-decoration: none; }
#premium .premium-wrapper .trial-box .not { color: #0e236b; font-size: 10pt; text-transform: uppercase; text-decoration: none; }
#premium .premium-wrapper .trial-box .not:hover { text-decoration: underline; }
#premium .premium-wrapper .view-price { position: relative; top:-30px; background:url(../img/bg-premium-views-price-lg.png) no-repeat; display: inline-block; height: 480px; width: 538px; }
#premium .premium-wrapper #preview-comp.view-price { top: -90px !important; }
#premium .premium-wrapper #preview-comp {  }
#premium .premium-wrapper .view-price .price { position: absolute; right: 20px; top: 30px; width: 110px; }
#premium .premium-wrapper .view-price .content { position: absolute; right: 19px; top: 110px; width: 155px; }
#premium .premium-wrapper .view-price .sub-month { font-size: 14px; color: #666; position: relative; top: -8px; }
#premium .premium-wrapper .view-price .sub-month-note { font-size: 12px; color: #666; position: absolute; right: 15px; top: 65px; width: 110px; }
#premium .premium-wrapper .view-price .sub-content { font-size: 13px; color: #666; position: relative; top: -8px; text-align: center; }
#premium .premium-wrapper .view-price .price .total { font-size: 39px; color: #666; }
#premium .premium-wrapper .view-price .price .sign { font-size: 27px; color: #666; }
#premium .premium-wrapper .view-price .note { font-size: 14px; color: #666; position: absolute; right: 100px; top: 400px; width: 390px; }

.cancel { cursor: pointer; }

.title {
background: url("../img/title-back.png");
  background-image: -webkit-gradient(linear, left bottom, left top, from(#dcdcdc), to(#fff));
  background-image: -webkit-gradient(linear, left bottom, left top, from(#dcdcdc), to(#fff));
  background-image: -webkit-gradient(linear, left bottom, left top, from(#dcdcdc), to(#fff));
  background-image: -webkit-gradient(linear, left bottom, left top, from(#dcdcdc), to(#fff));
  background-image: -webkit-gradient(linear, left bottom, left top, from(#dcdcdc), to(#fff));
  background-image: -webkit--webkit-linear-gradient(bottom, #dcdcdc, #fff);
  background-image: -webkit--moz-linear-gradient(bottom, #dcdcdc, #fff);
  background-image: -webkit--o-linear-gradient(bottom, #dcdcdc, #fff);
  background-image: -webkit--ms-linear-gradient(bottom, #dcdcdc, #fff);
  background-image: -webkit-linear-gradient(to top, #dcdcdc, #fff);
  background-image: -moz--webkit-linear-gradient(bottom, #dcdcdc, #fff);
  background-image: -moz--moz-linear-gradient(bottom, #dcdcdc, #fff);
  background-image: -moz--o-linear-gradient(bottom, #dcdcdc, #fff);
  background-image: -moz--ms-linear-gradient(bottom, #dcdcdc, #fff);
  background-image: -moz-linear-gradient(to top, #dcdcdc, #fff);
  background-image: -o--webkit-linear-gradient(bottom, #dcdcdc, #fff);
  background-image: -o--moz-linear-gradient(bottom, #dcdcdc, #fff);
  background-image: -o--o-linear-gradient(bottom, #dcdcdc, #fff);
  background-image: -o--ms-linear-gradient(bottom, #dcdcdc, #fff);
  background-image: -o-linear-gradient(to top, #dcdcdc, #fff);
  background-image: -webkit-linear-gradient(bottom, #dcdcdc, #fff);
  background-image: -moz-linear-gradient(bottom, #dcdcdc, #fff);
  background-image: -o-linear-gradient(bottom, #dcdcdc, #fff);
  background-image: -ms-linear-gradient(bottom, #dcdcdc, #fff);
  background-image: linear-gradient(to top, #dcdcdc, #fff);
  height: 25px;
}

.title h3, .title h5 {
	display: inline-block;
	margin-left: 10px;
}

.title .button {
  float: right;
  color: #0e236b;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 0 6px;
  border: 1px solid #a6a6a6;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  background-color: #e0e0e0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#cfcfcf), to(#e1e1e1));
  background-image: -webkit-gradient(linear, left bottom, left top, from(#cfcfcf), to(#e1e1e1));
  background-image: -webkit-gradient(linear, left bottom, left top, from(#cfcfcf), to(#e1e1e1));
  background-image: -webkit-gradient(linear, left bottom, left top, from(#cfcfcf), to(#e1e1e1));
  background-image: -webkit-gradient(linear, left bottom, left top, from(#cfcfcf), to(#e1e1e1));
  background-image: -webkit--webkit-linear-gradient(bottom, #cfcfcf, #e1e1e1);
  background-image: -webkit--moz-linear-gradient(bottom, #cfcfcf, #e1e1e1);
  background-image: -webkit--o-linear-gradient(bottom, #cfcfcf, #e1e1e1);
  background-image: -webkit--ms-linear-gradient(bottom, #cfcfcf, #e1e1e1);
  background-image: -webkit-linear-gradient(to top, #cfcfcf, #e1e1e1);
  background-image: -moz--webkit-linear-gradient(bottom, #cfcfcf, #e1e1e1);
  background-image: -moz--moz-linear-gradient(bottom, #cfcfcf, #e1e1e1);
  background-image: -moz--o-linear-gradient(bottom, #cfcfcf, #e1e1e1);
  background-image: -moz--ms-linear-gradient(bottom, #cfcfcf, #e1e1e1);
  background-image: -moz-linear-gradient(to top, #cfcfcf, #e1e1e1);
  background-image: -o--webkit-linear-gradient(bottom, #cfcfcf, #e1e1e1);
  background-image: -o--moz-linear-gradient(bottom, #cfcfcf, #e1e1e1);
  background-image: -o--o-linear-gradient(bottom, #cfcfcf, #e1e1e1);
  background-image: -o--ms-linear-gradient(bottom, #cfcfcf, #e1e1e1);
  background-image: -o-linear-gradient(to top, #cfcfcf, #e1e1e1);
  background-image: -webkit-linear-gradient(bottom, #cfcfcf, #e1e1e1);
  background-image: -moz-linear-gradient(bottom, #cfcfcf, #e1e1e1);
  background-image: -o-linear-gradient(bottom, #cfcfcf, #e1e1e1);
  background-image: -ms-linear-gradient(bottom, #cfcfcf, #e1e1e1);
  background-image: linear-gradient(to top, #cfcfcf, #e1e1e1);
  -webkit-box-shadow: 0 1px 1px #f0f0f0 inset;
  box-shadow: 0 1px 1px #f0f0f0 inset;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#cfcfcf', endColorstr='#e1e1e1');
}

/** charts */

.large-bar-chart .label {
	z-index: 1 !important;
	text-align: center;
 }
 
.highcharts-tooltip b { height: 20px !important; line-height: 20px !important; }
.highcharts-tooltip span {
 	padding: 4px;
	background-color: #FFFFFF;
    opacity:1;
    z-index:9999 !important; line-height: 20px !important;
}

/** general ui widgets */

.ui-widget {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

/** accordian */
.ui-accordion {
  border-bottom: 1px solid #ccc;
}

.ui-accordion * {
  outline: none;
}

.ui-accordion .ui-accordion-header {
	padding: 0;	
}

.ui-accordion .ui-accordion-icons {
    padding-left: 0;
}

.ui-accordion .ui-icon-triangle-1-s, .ui-accordion .ui-icon-triangle-1-e {
	display: none;
}

.ui-accordion .ui-state-active, .ui-accordion .ui-state-default, .ui-accordion .ui-state-hover {
	color: #0e236b;
}

.ui-accordion .ui-corner-all, .ui-accordion .ui-corner-bottom, .ui-accordion .ui-corner-left, .ui-accordion .ui-corner-bl, .ui-accordion .ui-corner-all, .ui-accordion .ui-corner-top, .ui-accordion .ui-corner-right, .ui-accordion .ui-corner-tr {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

.ui-accordion h3 {
	cursor: pointer;
	margin: 0 !important;
	text-indent: 16px;
	background: #fff;
	border: 1px solid #ccc;
	border-bottom: none;
	background: url("../img/sprite-accordion.jpg") no-repeat 98% -3px !important;
	height: 27px !important;
	font-size: 14px !important;
	padding: 0px;
}

.ui-accordion h3.ui-state-active {
  background: url("../img/sprite-accordion.jpg") no-repeat 98% -30px !important;
}

.ui-accordion .panel {
  padding: 16px;
  background: #f3f3f3;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

/** modal */
#cboxOverlay{
	opacity: .65 !important;
	background: #fff !important;
}

.modal-container {
	padding: 0 20px 20px 20px;
	overflow-x: hidden;
}

.modal-container h4 {
  font: bold 18px Arial, Helvetica, sans-serif;
  color: gray2;
  margin: 0 0 8px 0;
}

.modal-container h4 span {
	font: normal 11px Arial, Helvetica, sans-serif;
	color: gray2;
}

.modal-container .nav .action-btn {
	display: none;
}

.modal-container.prompt .nav .action-btn.prompt-display {
	display: inline-block;
}

.modal-container.alert .nav .action-btn.alert-display {
	display: inline-block;
}

/** tooltips */

.tooltip {
  position: absolute;
  background: #c0c0c0;
  display: none;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  width: 160px;
  z-index: 3;
}
.tooltip-content {
  background: #ecf1c4;
  color: #000;
  margin: 4px;
  padding: 10px;
  font-size: 10px;
}

.tooltip-content div {font-size: 10px; margin: 0 0 4px 0; } 

.tooltip-arrow {
  background: url("../img/tooltip-arrow.png") no-repeat;
  position: absolute;
  left: 50%;
  margin-left: -7px;
  margin-top: -4px;
  width: 14px;
  height: 14px;
}

.tooltip-left .tooltip-arrow {
  left: 90%;
  margin-left: -7px;
  margin-top: -4px;
}

.tooltip-right .tooltip-arrow {
  left: 10%;
  margin-left: -6px;
  margin-top: -4px;
}

/** tabs */

.ui-tabs .ui-tabs-panel {
	background: #FFF;
	padding: 0;
}

.ui-tabs.ui-widget-content, .ui-tabs .ui-tabs-nav {
	border: 0;
	color: #FFF;
	background: #FFF;
}

/** date picker */

.ll-skin-latoja {
	font-size: 90%;
}

.ll-skin-latoja .ui-widget {
	font-family: "Helvetica Neue","Trebuchet MS",Tahoma,Verdana,Arial,sans-serif;
	background: #fff;
}

.ll-skin-latoja .ui-datepicker {
	padding: 0;
}

.ll-skin-latoja .ui-datepicker-header {
	border: none;
	font-size: 80%;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #e0e8ec; /* layer fill content */
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.53), inset 0 -1px 0 rgba(0,0,0,.12); /* drop shadow and inner shadow */
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.53), inset 0 -1px 0 rgba(0,0,0,.12); /* drop shadow and inner shadow */
	box-shadow: 0 1px 0 rgba(255,255,255,.53), inset 0 -1px 0 rgba(0,0,0,.12); /* drop shadow and inner shadow */
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); /* gradient overlay */
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.21) 0%, rgba(255,255,255,.21) 100%); /* gradient overlay */
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.21) 0%, rgba(255,255,255,.21) 100%); /* gradient overlay */
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.21) 0%, rgba(255,255,255,.21) 100%); /* gradient overlay */
	background-image: linear-gradient(bottom, rgba(0,0,0,.21) 0%, rgba(255,255,255,.21) 100%); /* gradient overlay */
}

.ll-skin-latoja .ui-datepicker-title {
	color: #515d65; /* text color */
	font-size: 13px;
	font-weight: bold;
	text-shadow: 0 1px 1px rgba(255,255,255,.8); /* drop shadow */

}

.ll-skin-latoja .ui-icon-circle-triangle-e {
	background-image: url(images/ui-icons_454545_256x240.png);
	background-position: -32px -16px;
}

.ll-skin-latoja .ui-icon-circle-triangle-w {
	background-image: url(images/ui-icons_454545_256x240.png);
	background-position: -96px -16px;
}

.ll-skin-latoja .ui-datepicker .ui-datepicker-prev,
.ll-skin-latoja .ui-datepicker .ui-datepicker-next {
	border-color: transparent;
}

.ll-skin-latoja .ui-state-default {
	background: transparent;
	border: none;
	color: #2b2b2b;
	font-family: "Myriad Pro";
	font-weight: normal;
	text-align: center;
}

.ll-skin-latoja .ui-datepicker-header .ui-state-hover {
	background: #bdc5c9;
}

.ll-skin-latoja .ui-datepicker table {
	margin: 0;
}

.ll-skin-latoja .ui-datepicker th {
	color: #9da7af;
	font-size: 12px;
	font-weight: normal;
	-moz-border-radius: 216px 0 0 0 / 0 0 0 0;
	-webkit-border-radius: 216px 0 0 0 / 0 0 0 0;
	border-radius: 216px 0 0 0 / 0 0 0 0;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: rgba(0,0,0,.08);

}

.ll-skin-latoja .ui-datepicker td {
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 0;
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjA2Ii8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjA2Ii8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.06) 0%, rgba(255,255,255,.06) 100%);
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.06) 0%, rgba(255,255,255,.06) 100%);
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.06) 0%, rgba(255,255,255,.06) 100%);
	background-image: linear-gradient(bottom, rgba(0,0,0,.06) 0%, rgba(255,255,255,.06) 100%);

}

.ll-skin-latoja .ui-datepicker td:last-child {
	border-right: none;
}

.ll-skin-latoja .ui-datepicker td span, 
.ll-skin-latoja .ui-datepicker td a {
	padding: .7em 0;
	color: #6a747a;
	font-size: 12px;
	font-weight: bold;
	font-family: Arial;
}

.ll-skin-latoja .ui-datepicker-calendar .ui-state-hover {
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.12) 0%, rgba(255,255,255,.06) 100%);
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.12) 0%, rgba(255,255,255,.06) 100%);
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.12) 0%, rgba(255,255,255,.06) 100%);
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.12) 0%, rgba(255,255,255,.06) 100%);
}

.ll-skin-latoja td a.ui-state-active,
.ll-skin-latoja td a.ui-state-active.ui-state-hover {
	color: #fff;
	background-color: #8ab8ed;
	text-shadow: 0 1px 0 rgba(0,0,0,.26);
	-moz-box-shadow: inset 0 4px 9px rgba(0,0,0,.24);
	-webkit-box-shadow: inset 0 4px 9px rgba(0,0,0,.24);
	box-shadow: inset 0 4px 9px rgba(0,0,0,.24);
}


/** sliders */

.module-stock-slider {
  position: relative;
}

.module-stock-slider .stock-bar-container {
  height: 16px;
}

.module-stock-slider .bar, .module-stock-slider .slider-bar {
  background: #808080;
  position: absolute;
  top: 50%;
  margin-top: -3px;
  height: 6px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  width: 100%;
}

.module-stock-slider .bar {
  z-index: 1;
}

.module-stock-slider .slider-bar {
  z-index: 20;
}

.module-stock-slider .matches, .module-stock-slider .matches span {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 11px;
  font-weight: normal;
  font-style: italic;
  color: #565a5c;
  margin-top: 0px;
}

.module-stock-slider div.ui-slider-range {
	position: absolute;
	height: 6px;
	background-color: #bed600;
	background: -moz-linear-gradient(top,  #bed600 20%, #879f00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#bed600), color-stop(100%,#879f00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #bed600 20%,#879f00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #bed600 20%,#879f00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #bed600 20%,#879f00 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #bed600 20%,#879f00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bed600', endColorstr='#879f00',GradientType=0 ); /* IE6-9 */
}

.module-stock-slider .ui-slider-handle, .module-stock-slider .ui-slider-handle:focus {
	cursor: pointer;
	background: url("../img/ui-slider-handle.png");
	position: absolute;
	border: 0;
  	width: 11px;
  	height: 18px;
  	margin-top: -3px;
  	margin-left: -4px;
  	outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/** drop downs */

.button-dropdown {
  min-width: 172px;
  margin-right: 30px;
  display: inline-block;
  position: relative;
  height: 30px;  
}
.button-dropdown select { background: #e1e1e1; border-radius: 4px; }
.button-dropdown select option {}
.button-dropdown.open {
  z-index: 50;
}
.button-dropdown.open .dropdown {
  display: block;
  min-height: 100px;
  height: auto;
  position: absolute;
}
.button-dropdown li {
  cursor: pointer;
  font-size: 10px;
}

.button-dropdown .trigger {
	color: #121444;
	padding-left: 12px;
	padding-right: 20px;
	margin-top: 0px;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	position: relative;
	z-index: 2;
	background: url("../img/sprite-dropdown.png") no-repeat;
}

.button-dropdown .trigger .copy {
	font-weight: bold;
	font-size: 10px !important;
}

.button-dropdown .trigger .arrow {
  background: url("../img/sprite-dropdown.png") no-repeat right -29px;
  width: 33px;
  height: 30px;
  position: absolute;
  right: -33px;
  top: 0;
}
> .button-dropdown:hover .trigger {
  background: url("../img/sprite-dropdown.png") no-repeat 0 -59px;
}
> .button-dropdown:hover .arrow {
  background: url("../img/sprite-dropdown.png") no-repeat right -88px;
}
.button-dropdown .dropdown {
  position: relative;
  display: none;
  background: #f3f3f3;
  border: 1px solid #bfbfbf;
  -webkit-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
  width: 350px;
  padding: 0;
  top: 20px;
  left: 1px;
  z-index: 1;
  font-size: 10px;
  font-weight: bold;
  height: 150px !important;
  overflow-y: scroll;
}

.button-dropdown .dropdown.dropdown-padding {
  padding: 10px;
  width: 145px;
}
.button-dropdown .dropdown ul {
  margin: 0;
  padding: 10px 0 0;
}
.button-dropdown .dropdown li {
  list-style: none;
  line-height: 22px;
  height: 22px;
  padding: 4px 15px;
  border-top: 2px solid #fff;
  text-align: left;
}
.button-dropdown .dropdown li:first-child {
  border-top: none;
}
.button-dropdown .dropdown li:hover {
  background: #fff;
}
.button-dropdown .dropdown .trigger {
  font-size: 10px;
  font-weight: bold;
}
.secondary-search-dropdown .trigger {
  min-width: 141px;
}
.secondary-search-dropdown .dropdown {
  width: 337px;
}

#loading {
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-color: rgba(255,255,255,0.8);
  position: fixed;
  z-index: 9999;
}
#loading .loading-text {
  font-size: 44px;
  color: #1e2171;
  text-align: center;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  vertical-align: middle;
  height: 30px;
  top: 40%;
  margin-top: -15px;
}


.custom-select select { background: transparent; width: 317px; font-size: 10px; font-weight: bold; border: 1px solid #fff; border-radius: 4px; height: 21px; -webkit-appearance: none; text-indent: 5px; }
.custom-select { width: 290px; height: 21px; margin: 0 auto; overflow: hidden; background: url(../img/bg-select-arrow.png) no-repeat right #ddd; border: 2px solid #d4d4d4; border-radius: 4px; }
.custom-select select option { background: #f3f3f3; border-bottom: 2px solid #fff; font-weight: normal !important; }

.login-bar select.currency { background: #ddd; border: 1px solid #fff; }

/** alpha factors */

.alpha-factors {
  background: #f2f2f2;
  border: 1px solid #c1c1c1;
  overflow: hidden;
  margin-left: 18px;
}

.factor {
  margin: 15px 0;
  display: inline-block;
  width: 100%;
}

.factor .label {
  position: relative;
  display: inline-block;
  padding-right: 24px;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  
}

.factor .label {
	cursor: pointer;	
}

.factor .quintiles {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 11px;
  background: url("../img/slider-full.png") no-repeat;
  margin: 4px auto;
  cursor: pointer;
  white-space: nowrap;
  padding: 0px;
}

.factor .quintiles span {
	display: inline-block;
	width: 34px;
	overflow: visible;
	height: 11px;
	margin-left: 1px;
}

.factor .per-100 {
	width: 177px;
}

.factor .per-80 {
  width: 143.6px;
}

.factor .per-60 {
  width: 108.2px;
}

.factor .per-40 {
  width: 72.8px;
}

.factor .per-20 {
  width: 37.4px;
}

.factor .bar {
  display: inline-block;
  width: 177px;
  height: 12px;
  background: url("../img/slider-empty.png") no-repeat;
  margin: 4px auto;
}

.factor .left-label, .factor .right-label {
  display: inline-block;
  color: gray5;
  font-weight: bold;
  font-size: 10px;
  line-height: 10px;
  text-transform: uppercase;
  width: 54px;
  vertical-align: top;
  position: relative;
  top: 6px;
  text-align: right;
}

.factor .right-label {
  position: relative;
  margin-left: 10px;
}

/** misc */

.even {
  background-color: #e8e8e8;
}

.odd {
  background-color: #e8e8e8;
}

.hidden {display:none;}
.display-hidden {
  display:block !important;
}

#estimates-content,
.estimates-content-alternative,
.technical-charting,
#financials,
#comparables .company-comparables,
.technical-charting-alternative {
  margin-top:40px;
}

.underline {
  text-decoration: underline !important;
}

.additional-disclosure {
  padding: 0 20px 1px;
  text-align:left;
  margin-top:20px;
  padding-bottom:1px;
}
.additional-disclosure li {
  text-align: left;
}

.show-hidden {
  display: block !important; }

.financials-placeholder--dataload {
  width:100%;
  height:200px;
}

.financials-placeholder--dataEmpty, .comparable-companies--dataEmpty {
  padding:20px 0 10px;
}

