.company-title {
	width: 780px;
}

.price {
	width: 25%;
	vertical-align: bottom;
}

.price .pricing, .price .pricing * {
  font: bold 25px Arial, Helvetica, sans-serif;
}

.price .change {
  color: #b5cf34;
  font-weight: normal;
}

.price .change.negative {
  color: red;
  font-weight: normal;
}

.price .as-of {
  font-size: 12px;
}

.price .as-of .date, .price .as-of .time {
  font-weight: bold;
}

.price .as-of .time {
  color: #565a5c;
}

.profile .ui-tabs .ui-tabs-nav {
  padding: 0px;
  width: auto;
  display: inline-block;
  position: absolute;
  right: 0px;
}

.profile .ui-tabs .ui-tabs-nav li, .profile .ui-tabs .ui-tabs-nav li:focus {
  list-style: none;
  margin: 0 0 0 2px;
  display: inline-block;
  background: #0e236b;
  outline: none;
  padding: 0px;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.profile .ui-tabs .ui-tabs-nav li.ui-tabs-active {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.profile .ui-tabs .ui-tabs-nav li a, .profile .ui-tabs .ui-tabs-nav li a:focus {
  color: #fff;
  font-weight: 100;
  font-size: 12px;
  outline: none;
  padding: 4px 10px !important;
}

.profile .ui-tabs .ui-state-active, .profile .ui-widget-content .ui-state-default {
	color: #FFF;
	border: 0;
}

.profile .ui-tabs .ui-tabs-nav li.ui-state-active a {
  background: #008000;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  background-color: #809800;
  background-image: -webkit-gradient(linear, left top, right top, from(#809800), to(#bfce00));
  background-image: -webkit-gradient(linear, left top, right top, from(#809800), to(#bfce00));
  background-image: -webkit-gradient(linear, left top, right top, from(#809800), to(#bfce00));
  background-image: -webkit-gradient(linear, left top, right top, from(#809800), to(#bfce00));
  background-image: -webkit-gradient(linear, left top, right top, from(#809800), to(#bfce00));
  background-image: -webkit--webkit-linear-gradient(right, #809800, #bfce00);
  background-image: -webkit--moz-linear-gradient(right, #809800, #bfce00);
  background-image: -webkit--o-linear-gradient(right, #809800, #bfce00);
  background-image: -webkit--ms-linear-gradient(right, #809800, #bfce00);
  background-image: -webkit-linear-gradient(to left, #809800, #bfce00);
  background-image: -moz--webkit-linear-gradient(right, #809800, #bfce00);
  background-image: -moz--moz-linear-gradient(right, #809800, #bfce00);
  background-image: -moz--o-linear-gradient(right, #809800, #bfce00);
  background-image: -moz--ms-linear-gradient(right, #809800, #bfce00);
  background-image: -moz-linear-gradient(to left, #809800, #bfce00);
  background-image: -o--webkit-linear-gradient(right, #809800, #bfce00);
  background-image: -o--moz-linear-gradient(right, #809800, #bfce00);
  background-image: -o--o-linear-gradient(right, #809800, #bfce00);
  background-image: -o--ms-linear-gradient(right, #809800, #bfce00);
  background-image: -o-linear-gradient(to left, #809800, #bfce00);
  background-image: -webkit-linear-gradient(left, #809800, #bfce00);
  background-image: -moz-linear-gradient(left, #809800, #bfce00);
  background-image: -o-linear-gradient(left, #809800, #bfce00);
  background-image: -ms-linear-gradient(left, #809800, #bfce00);
  background-image: linear-gradient(to right, #809800, #bfce00);
}

.profile .tab-content {
  clear: both;
  width: 100%;
}

.profile .ui-tabs .ui-tabs-panel {
  padding: 5px 0;
  margin: 22px 0 0;
  border: 1px solid #ccc;
}

.profile .ui-tabs .ui-tabs-panel table {
  width: 100%;
}

.profile .ui-tabs .ui-tabs-panel tr {
  min-height: 34px;
}

.profile .ui-tabs .ui-tabs-panel tr td, .profile .ui-tabs .ui-tabs-panel tr td span  {
  line-height: 14px;
  font-size: 12px;
}

.profile .ui-tabs .ui-tabs-panel tr td {
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
}
.profile .ui-tabs .ui-tabs-panel tr td.border { border-right: 2px solid #fff; }
.profile .ui-tabs .ui-tabs-panel tr td.note {
	font-weight: normal;
}

.profile .ui-tabs .ui-tabs-panel tr.vwap td.vwap-title { width: 28% !important; }
.profile .ui-tabs .ui-tabs-panel tr.vwap td.normal.right { width: 22% !important; }

.general-info.gray {
	padding: 10px;
	padding-left: 0;
}

.general-info td {
	padding: 5px 10px;
	line-height: 125%;
}

.general-info.gray td a { color: #0e236b; text-decoration: underline; }
.general-info.gray td a:hover { text-decoration: none; }

#key-devs { width: 99%; }

.key-devs {  padding: 0px; margin: 10px 0 25px; }

.key-devs ul {
  margin: 0px 0;
  padding: 10px 10px 0;
  border: 1px solid red;
  border-top: none;
}

.key-devs li {
  position: relative;
  margin: 0 0 9px 0;
  padding-left: 26px;
  display: inline-block;
  list-style: none;
}

.key-devs li div {
  position: absolute;
  left: 0;
  top: 2px;
  margin: 0 10px 0 0;
  background: #565a5c;
  color: #fff;
  display: inline-block;
  width: 16px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  font-size: 12px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.key-devs li span {
  font-weight: bold;
  color: #0e236b;
  text-decoration: none;
  cursor: pointer;
}

.key-devs li span:hover {
  text-decoration: underline;
}

.no-devs {
	padding: 10px;
}

div.news {
	margin-bottom: 10px;
}

.recommendation {
	overflow: hidden;
	padding-top: 25px;
	margin: 10px 0;
}

.recommendation span.inline-block {
	width: 32%;
	font-weight: bold;
}

.recommendation.opt-1 {
	background: url("../img/consensus-step-1.jpg") no-repeat;	
}

.recommendation.opt-2 {
	background: url("../img/consensus-step-2.jpg") no-repeat;	
}

.recommendation.opt-3 {
	background: url("../img/consensus-step-3.jpg") no-repeat;	
}

.recommendation.opt-4 {
	background: url("../img/consensus-step-4.jpg") no-repeat;	
}

.recommendation.opt-5 {
	background: url("../img/consensus-step-5.jpg") no-repeat;	
}

.consensus-price span {
	display: inline-block;
	padding-top: 8px;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
}

.factor {
	margin: 5px 0;
}

.factor .label {
	display: block;
	margin-bottom: 3px;
}

.factor .left-label {
	margin-right: 5px;
}

.factor .right-label {
	width: auto;
}

.factor.odd {
	background-color: inherit;
}

.legend-note {
	margin-bottom: 10px;
	margin-bottom: 15px;
}

.legend-note p {
	font-size: smaller;
}

.legend-note span {
	display: inline-block;
	font-weight: bold;
}

.legend-note .item {
	margin-right: 20px;	
}

.legend-note .item span.color {
	height: 10px;
	width: 10px;
	background-color: red;
	margin-right: 4px;
}

.legend-note .item span.parent {
	display: block;
	font-weight: normal;
	font-size: 11px;
	margin-left: 14px;
}

.data-point-container {
    border: 1px solid #ccc;
    width: 97%;
    padding: 0 0 20px 20px;
}

.data-point-container .header {
	padding: 0 20px;
}

.data-point-container .header .tab {
    background: rgba(0, 0, 0, 0) url("../img/table-info-tab.png") no-repeat scroll center center;
    color: #fff;
    height: 26px;
    line-height: 26px;
    text-align: center;
}

.data-point-container .header .note {
	position: absolute;
	right: 50px;
	text-align: right;
	padding-top: 5px;
}

.data-point-container .header .note, .data-point-container .header .note span {
	font-size: 11px;
}

.data-point-container table {
	width: 98%;
}

.data-point-container table thead th {
    border: medium none;
    margin: 0;
    padding: 20px 0 5px 0 !important;
    text-align: center;
}

.data-point-container table thead th, .data-point-container table thead th span {
    color: #000;
    font: bold 14px/12px Arial,Helvetica,sans-serif;
}

.data-point-container .section {
    border-bottom: 1px dotted #d6d6d6;
    color: #4d4e50;
    display: inline-block;
    font: bold 18px/18px Arial,Helvetica,sans-serif;
    margin: 0 0 10px;
}

.data-point-container table tbody td {
	text-align: center;
	vertical-align: middle;
	height: 22px;
}

.data-point-container table tbody td, .data-point-container table tbody td span {
	font-size: 12px;
}

.data-point-container .trigger {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.data-point-container .checkbox {
  height: 19px;
}

.data-point-container .trigger .name { position: relative; top: -1px; }

.data-point-container .checkbox .trigger {
	padding-left: 32px;
	color: #000;
	font-size: 12px;
	font-weight: bold;
	background: url("../img/bg-checkboxes.png") no-repeat 0 -26px;
	line-height: 16px;	
}

.data-point-container .checkbox .trigger:hover, .data-point-container .checkbox.checked {
  background-position: 0 -54px;
}

.data-point-container .checkbox.checked .trigger, .data-point-container .checkbox.checked:hover {
  background-position: 0 0;
}

.data-point-container .checkbox input {
  display: none;
}

.data-point-container .uncheck span {
    cursor: pointer;
    font-size: smaller;
    text-decoration: none;
    color:#0b236b;	
}

.grid .tearsheet-column-one, .grid .tearsheet-column-two {
    display:inline-block;
	vertical-align: top;
}

.grid .tearsheet-column-one {
    width:660px;
}

.grid .tearsheet-column-two {
	margin-left: 15px;
    width:320px;
}

.social-sentiment  {
    color: #000;
    padding: 0 10px 20px;
}
/*.sentimentDetail span,
.sentimentDetail img {
	float: left;
}*/
.sentimentDetail {
	font-size: 9pt;
	margin-left: 10px;
}
.buzzDetail{
	width: 110%;
	font-size: 9pt;
	margin-left: 10px;	
}
ul.socialfeeds {
	display: inline-block;
	margin: 0;
	padding: 0;
	height: auto;
}
ul.socialfeeds li {
	list-style-type: none;
}
ul.socialfeeds li div.name,
ul.socialfeeds li div.name span {
	color: #9e9e9e;
	margin-top: 10px;
}
ul.socialfeeds li div.tweet {
	color: #0e236b;
	font-weight: bold;
}