.clearfix:after {
  content: "";
  display: table;
  clear: both; }
/*
div.wrapper {
  width: 1000px;
  margin: 0 auto;
  padding: 0 2px; }*/

.technical-charting {
  border-right: 1px solid #cacdd3;
  border-left: 1px solid #cacdd3;
  border-bottom: 1px solid #cacdd3;
  padding-bottom: 120px; }
  .technical-charting a {
    text-decoration: none; }
  .technical-charting ul {
    padding: 8px 0;
    margin: 0; }
  .technical-charting .header-bar li {
    list-style: none;
    display: inline-block;
    margin-left: 8px; }
    .technical-charting .header-bar li:first-child {
      margin-left: 0;
      padding-right: 10px;
      border-right: 2px solid #fff; }
  .technical-charting .content {
    padding: 20px;
    text-align: right; }
    .technical-charting .content label {
      display: block; }

.header-bar {
  background: #cacdd3;
  text-align: center;
  font-weight: bold; }
  .header-bar a {
    color: #4d4e50; }
    .header-bar a:hover {
      color: #0b236b; }
    .header-bar a.active {
      color: #0b236b; }

.bottom-space {
  margin-bottom: 2px; }

.show-hidden {
  display: block !important; }

.technical-charting .control-box {
  width: 24.5%;
  background: #ebecee;
  text-align: left;
  float: left; }
  .technical-charting .control-box .title-bar {
    background: #0b236b;
    padding: 8px 0;
    padding-left: 12px;
    border-left: 4px solid #bed61f;
    position: relative; }
    .technical-charting .control-box .title-bar:first-child {
      margin-top: 0; }
  .technical-charting .control-box .arrow {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #bed61f;
    position: absolute;
    top: 8px;
    left: 0px;
    display: none; }
  .technical-charting .control-box .arrow-space {
    top: 16px !important; }
  .technical-charting .control-box .control-wrapper {
    padding: 8px 10px 10px 12px;
    border-left: 4px solid #bed61f; }
  .technical-charting .control-box label {
    color: #8c8e90; }
    .technical-charting .control-box label.selected {
      color: #000; }
  .technical-charting .control-box label.active-checkBox {
    font-size: 11.5px;
    font-weight: bold;
    color: #000; }
  .technical-charting .control-box label.text-input {
    padding: 5px 0;
    display: block; }
  .technical-charting .control-box div.rsi-inputs {
    display: none; }
  .technical-charting .control-box .rsi-input {
    width: 40px;
    margin-left: 10px;
    float: right;
    margin-right: 60px;
    padding-left: 5px; }
  .technical-charting .control-box h2 {
    font-size: 12px;
    color: #fff;
    font-weight: normal;
    text-transform: capitalize;
    margin: 0;
    padding: 0; }

.techChart-validationMessage {
  margin-top: 6px;
  margin-bottom: 2px;
  display: block;
  width: 100%;
  font-size: 11px;
  color: red; }

#technical-chart-container {
  background: #e7e7e8;
  display: inline-block;
  width: 75%;
  height: 475px; }

.indicators, .financials {
  display: none; }

.technical-charting .financials-controls {
  text-align: left;
  margin-bottom: 20px; }

.icons {
  position: absolute;
  top: 6px;
  right: 10px; }

.icons-space {
  top: 14px; }

.icon {
  display: block;
  height: 17px;
  width: 17px;
  display: inline-block; }

.info-icon {
  background: url(images/info.png) no-repeat; }

.plus-icon {
  background: url(images/plus.png) no-repeat; }

.minus-icon {
  background: url(images/minus.png) no-repeat; }

.grayout {
  position: absolute;
  z-index: 50;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
  background-color: #fff; }

.modal {
  display: none;
  position: absolute;
  z-index: 100;
  width: 675px;
  top: 434px;
  left: 18%;
  color: #3d3d3d; }
  .modal h1 {
    margin: 0;
    margin-top: 5px;
    font-size: 16px;
    margin-bottom: 10px; }
  .modal ul {
    padding: 0;
    display: inline; }
  .modal li {
    width: 10px;
    height: 10px;
    background: #acadae;
    border-radius: 50%;
    list-style: none;
    display: inline-block; }
    .modal li.current {
      background: #868788; }
  .modal .position-indicator {
    padding-top: 25px; }
  .modal .modal-wrapper {
    background: url(images/transparent-bg.png);
    border-radius: 4px;
    padding: 5px; }

.modal-content {
  opacity: 1;
  padding: 20px;
  padding-bottom: 40px;
  position: relative;
  border-radius: 4px;
  background: #fff; }
  .modal-content p {
    margin: 0; }
  .modal-content .close {
    position: absolute;
    cursor: pointer;
    top: 4px;
    right: 4px;
    background: #9c9e9f;
    color: #fff;
    padding: 0px 4px 1px 4px;
    border-radius: 2px; }

.modal-controls {
  position: relative;
  background-color: #cfcfd0;
  text-align: center;
  height: 60px; }
  .modal-controls .control-left {
    position: absolute;
    cursor: pointer;
    top: 16px;
    width: 30px;
    height: 30px;
    left: 10px;
    border-radius: 50%;
    background: white; }
    .modal-controls .control-left .control-icon {
      position: absolute;
      top: 6px;
      right: 4px;
      width: 18px;
      height: 18px;
      background: url(images/left.png) no-repeat; }
  .modal-controls .control-right {
    position: absolute;
    cursor: pointer;
    top: 16px;
    width: 30px;
    height: 30px;
    right: 10px;
    border-radius: 50%;
    background: white; }
    .modal-controls .control-right .control-icon {
      position: absolute;
      top: 6px;
      right: 1px;
      width: 18px;
      height: 18px;
      background: url(images/right.png) no-repeat; }

.technical-charting-alternative {
  display: none; }
  .technical-charting-alternative .content {
    padding: 20px;
    padding-bottom: 100px;
    border: 1px solid #cacdd3; }

.financials-controls select {
  width: 19%; }
