.brokers { width: 925px; margin-top: 20px; margin-bottom: 15px; }
.brokers span { margin: 10px; border: 9px solid #d8d8d8; display: inline-block; cursor: pointer; height: 69px; }
.brokers span:hover { border: 9px solid #b5cf34; }