<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" requirePermission="true" />
  </configSections>
  <connectionStrings>
    <add name="xf.target" connectionString="Server=10.0.1.147; Database=XF_TARGET; User Id=XF_USER; password=XF_PASSWORD" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- 0 debug, 1 info, 2 error -->
    <add key="logLevel" value="0" />
    <add key="tmpDir" value="C:\sgx\output\{0:MMddyyhhss}\" />

    <add key="sqlPreprocess" value="C:\sgx\sql_preprocess\" />
    <add key="sqlDir" value="C:\sgx\queries\" />
    <add key="archiveFile" value="C:\sgx\archive\{0:MMddyyhhss}.zip" />
    <add key="sgxLog" value="C:\sgx\logs\{0:MMddyyhhss}.zip.log" />
    
    <add key="tickerURL" value="http://infopub.sgx.com/SitePages/StockNIndices_SnPDetails.aspx" />
    <add key="xtraTickerURL" value="http://infopub.sgx.com/sitepages/StockNIndices_ASEANList.aspx" />
    <add key="RemoveDuplicateTickers" value="true" />

    <add key="commandLineTimeout" value="7200" /> <!-- in seconds -->

    <add key="companiesFileName" value="companies.csv" />
    <add key="currenciesFileName" value="currencies.csv" />
    <add key="notFoundFileName" value="notfound.csv" />
    <add key="companiesTableName" value="##sgxpop" />
    
    <!-- SFTP Location to push files to -->
    <add key="ftpURL" value="ftp.visitfc.com" />
    <add key="ftpUsername" value="SGX" />
    <add key="ftpPassword" value="8NTkcAy4Lm_k" />
    <add key="ftpDirectory" value="/home/SGX/XpressFeed_QA" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>