<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <connectionStrings>

      <add name="xf.target" 
           connectionString="Server=10.0.1.147; Database=XF_TARGET; User Id=XF_USER; password=XF_PASSWORD"
           providerName="System.Data.SqlClient" 
      />

    </connectionStrings>
  
    <appSettings>

      <add key="tmpDir" value="C:\tmp\sgx\output\"/>
      <add key="sqlDir" value="C:\Users\MParcewski\workspace\SGX\xf-export\queries\"/>
      
      <add key="tickerURL" value="http://infopub.sgx.com/SitePages/StockNIndices_SnPDetails.aspx" />
      <add key="tickerFileName" value="companies.csv" />
      <add key="tickerTableName" value="##sgxpop" />
      
    </appSettings>
  
    
  
</configuration>