<h3>Add <span data-bind="text:PAGE.currentCompanyName()"></span> (<span data-bind="text:PAGE.currentTicker()"></span>) to StockList</h3>
<p>Select an existing StockList:</p>
<select data-bind="options: PAGE.finalWL(), optionsCaption: 'Select StockList', value: PAGE.selectedValue, optionsValue: 'id', optionsText: 'name'"></select>
<p>Create a new StockList:</p>
<input name="newWLName" type="text" class="text" class="addWatchlistName" data-bind="value: PAGE.newWLName">
<p><span class="button add-wl">Add to StockList</span></p>