.alerts-wrapper select { background: #FFFFFF; height: 22px; border: 1px solid #808080; border-radius: 4px; min-width: 80px; }
.alerts-wrapper a { color: #0b236b; text-decoration: underline; }
.alerts-wrapper a:hover { text-decoration: underline; }

.intro { margin: 12px 0; display: block; }
.intro .error-messages p { color: #bf0052 !important; line-height: 16px; padding: 0 0 10px 0; }
.intro input.text { border: 1px solid #c4c4c4; color: #333; display: inline-block; width: 160px; padding: 0 5px; line-height: 22px; height: 22px; }
.intro  .button { display: inline-block; }

#alerts { display: none;border: 2px solid #ebecec; padding: 0px 10px 10px; z-index: 1; position:relative;top:-2px; }

#alerts-content-alternative { margin: 0 0 0 0; }

.wl-container { overflow: hidden; min-height: 300px; margin-top: 15px; /*display: none;*/ }

.wl-container .edit-watchlist { margin: 10px 0; }

.watchlist a { cursor: pointer; text-decoration: none; }
.watchlist a:hover { text-decoration: underline; }

.save { width: 978px; background: #f2f0db; border: 1px solid #b3c5cf; line-height: 28px; padding: 0 10px; color: #333; font-size: 11.5px; font-style: italic; margin: 0 0 10px 5px; }

.watchlist { display: inline-block; width: 42.5%; margin: 0 2.5% 0 0; float: left;}
.watchlist .wl-companies { margin: 12px 0;position:relative;}
.watchlist .wl-companies ul { padding: 0; margin-top: 25px; margin:0; border-bottom: 2px solid #ccc; max-height: 500px;overflow-x: hidden; cursor: pointer;}
.watchlist .wl-companies ul li { list-style-type: none; padding: 5px; width:96%;cursor: default; }
.watchlist .wl-companies ul li.odd { background: #ebecec; }
.watchlist .wl-companies ul li span { font-size: 22px; color: #444; font-weight: bold; display: inline-block; }
.watchlist .wl-companies ul li .ticker { width: 115px; }
.watchlist .wl-companies ul li .currency { width: 55px; }
.watchlist .wl-companies ul li .price { width: 90px; }
.watchlist .wl-companies ul li .priceFont { width: 90px;font-size: 12px }
.watchlist .wl-companies ul li .change { width: 90px; color: #b5cf34; }
.watchlist .wl-companies ul li .change.negative { color: #bf0052; }

.search h5{float: left; padding-right: 10px; margin-top: 11px;}
.search .description .screener-basic { margin-bottom: 8px; }
.search .searchtoggle { margin: 0; }
.search .searchtoggle .toggle { display: inline-block; margin: 0px; padding-left: 15px;  padding-right: 15px; background-color: #565a5c; }
.search .searchtoggle .toggle.sname { -webkit-border-bottom-right-radius: 0; -moz-border-radius-bottomright: 0; border-bottom-right-radius: 0; -webkit-border-top-right-radius: 0; -moz-border-radius-topright: 0; border-top-right-radius: 0; }
.search .searchtoggle .toggle.scode { -webkit-border-bottom-left-radius: 0; -moz-border-radius-bottomleft: 0; border-bottom-left-radius: 0; -webkit-border-top-left-radius: 0; -moz-border-radius-topleft: 0; border-top-left-radius: 0; }
.search .searchtoggle .selected { background-color: #0e236b; }
.search .searchbar { margin: 10px 0; border: 1px solid #0e236b; display: inline-block; -webkit-border-radius: 4px; border-radius: 4px; height: 22px; position: relative; width: 212px; background: #fff; -webkit-background-clip: padding; -moz-background-clip: padding; background-clip: padding-box; }
.search .searchbar input { border: none; padding: 0px; color: #494949; font: normal 12px Arial, Helvetica, sans-serif; font-style: italic; width: 186px; height: 22px; text-indent: 10px; background: none; }
.search .search-submit { position: absolute; top: 0px; right: 0px; width: 26px !important; height: 0; padding-top: 22px; background: #0e236b url("../img/searchbar-icon.jpg") no-repeat center center !important; z-index: 20; cursor: pointer; }

.watchlist .wl-companies ul li .remove { background: url(../img/x-button.png) no-repeat; height: 16px; width: 16px; cursor: pointer; }
.watchlist .wl-companies ul li .company { font-size: 12px !important; font-weight: normal !important;}

.watchlist .results h5 { padding: 5px; margin-bottom:8px; font-size: 14px; font-weight: normal; background: #ebecec; text-transform: uppercase; }
.watchlist .results ul { margin: 0; padding: 0; font-size: 12px; font-weight: bold; max-height: 290px;overflow-x: hidden;border-bottom: 2px solid #ccc; cursor: pointer;}
.watchlist .results ul li { list-style-type: none; margin-bottom: 8px; line-height: 17px; cursor: default;}
.watchlist .results ul li .add { background: url(../img/add-button.png) no-repeat; height: 17px; width: 17px; display: inline-block; margin: 0 6px 0 0; cursor: pointer; }
.watchlist .results ul li .name { font-size: 13px; position: relative; top: -3px; }

.wl-container .alerts { display: inline-block; width: 53%; }
.wl-container .alerts .price-changes, .alerts .estimates, .alerts .developments { background: #ebecec; }
.wl-container .alerts .developments { overflow: hidden !important; clear: both; }
.wl-container .alerts input[type=text] { background: #f6f6f6; width: 44px; padding: 0 2px; }
.wl-container .alerts input.percent { background: url(../img/bg-percent.png) no-repeat right #f6f6f6; width: 38px !important; padding: 0 22px 0 0; text-align: right; display: inline-block; }
.wl-container .alerts h3 { background: #0b236b; height: 36px; line-height: 36px; font-size: 19px; color: #fff; font-weight: normal; padding: 0 15px; margin: 0;  }
.wl-container .alerts ul { padding: 17px 10px; margin: 0; }
.wl-container .alerts ul li { list-style-type: none; margin: 0 0 12px 0; }
.wl-container .alerts ul li input[type="text"] { width: 32px; height: 22px; border: 1px solid #c4c4c4; border-radius: 4px; }

.button-wrapper { margin: 35px 0 0 205px; }
.button-wrapper a { cursor: pointer; }
.button-wrapper a.email { margin-left: 10px; }

.cboxWrapper .cancel { margin: 0 10px; }

.error-messages p, span.error-messages { display:block; color: #bf0052 !important; line-height: 16px; font-size: 11.5px; margin: 10px 25px; }

#loading-alerts{ position:absolute; top:40%; left:42%; z-index:51;}
.grayout {
  position: absolute;
  z-index: 50;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
  background-color: #fff; }
  
::-webkit-scrollbar              { width: 6px;cursor:pointer; }
/* ::-webkit-scrollbar-button       {  } */
::-webkit-scrollbar-track        { background-color: #dddddd;cursor:pointer;  }
/* ::-webkit-scrollbar-track-piece  {  } */
::-webkit-scrollbar-thumb        { background-color: #0e236b;cursor:pointer; }
/* ::-webkit-scrollbar-corner       {  }
::-webkit-resizer                {  } */


/* Portfolio StockList Navigation */
.header .profilestocklist { margin: 18px 0 0; position: relative; z-index:3;}
.header .profilestocklist .left { float: left; margin: 28px 0 10px 22px; width: 68.5%; }
.header .profilestocklist .right { float: right; margin: 0 18px 0 0; }
.header .profilestocklist h1 { margin: 0 0 10px 0 !important; }
.header .profilestocklist h1, .header .profilestocklist h1 span  { color: #fff; font-size: 27px; line-height: 27px !important; }
.header .profilestocklist .breadcrumb { color: #fff; }
.header .profilestocklist .breadcrumb a { color: #fff; text-decoration: none;}
.header .profilestocklist .breadcrumb a:hover { text-decoration: underline; }
.header .profilestocklist .pricing .currency,
.header .profilestocklist .pricing .price,
.header .profilestocklist .as-of,
.header .profilestocklist .as-of .date,
.header .profilestocklist .as-of .time { color: #fff !important; }
.header .profilestocklist .right.price { width: 27% !important; }
.header .profilestocklist .right .current-currency { color: #fff; padding: 8px; font-size: 9pt; }
.header .profilestocklist .right .current-currency span { color: #fff !important; font-size: 9pt; text-transform: uppercase !important; }

.header .profilestocklist .profilestocklist-bar { background: #031753; padding: 8px 0 8px 22px; display: block; clear: both; }
.header .profilestocklist .profilestocklist-bar a { background: url(../img/bg-profilestocklist-bar.png) no-repeat; color: #fff; text-decoration: none; font-size: 9pt !important; height: 17px; line-height: 17px; }
.header .profilestocklist .profilestocklist-bar a:hover { text-decoration: underline; cursor: pointer; }
.header .profilestocklist .profilestocklist-bar .right { margin: 0 20px 0 0 !important; }
.header .profilestocklist .profilestocklist-bar .right a { margin: 0 0 0 32px; }
.header .profilestocklist .profilestocklist-bar a.back { background-position: 0 0; padding: 2px 0 0 21px; }
.header .profilestocklist .profilestocklist-bar a.view { background-position: 0 -27px; padding: 3px 0 2px 24px; }
.header .profilestocklist .profilestocklist-bar a.add { background-position: 0 -59px; padding: 1px 0 0 21px; }
.header .profilestocklist .profilestocklist-bar a.down-print { background-position: 0 -86px; padding: 2px 0 0 21px; } 

.header .profilestocklist nav { margin: 10px 22px 0 24px; position: relative; z-index:3; }
.header .profilestocklist nav ul { font-size: 0; overflow: hidden; margin-left: 215px;}
.header .profilestocklist nav ul li { display: inline-block; font-size: 13pt !important; line-height: 38px; padding-top:2px; margin: 0 2px 0 0;}
.header .profilestocklist nav ul li a { font-size:12pt; padding: 10px 45px;text-decoration: none;border: 2px solid #ebecec; border-bottom: 0 !important; border-radius: 8px 8px 0 0;background: #ebecec; }

/* Nav Active Link Styles */
.header .profilestocklist nav ul li a:hover,
#stockListAlerts .header .profilestocklist nav ul li.stocklist-alerts a,
#stockListValuation .header .profilestocklist nav ul li.stocklist-valuation a,
#stockListKeydev .header .profilestocklist nav ul li.stocklist-keydev a { background: #ffffff; border: 2px solid #ebecec; }

.save-button {
	display: inline-block;
	background: #0e236b;
	-webkit-border-radius: 4px;
	padding: 8px 25px;
	color: #fff !important;
	cursor: pointer;
	margin-right: 20px;
	font: normal 15px/15px Arial, Helvetica, sans-serif;
	text-decoration: none !important;
	border-radius: 4px;
}