<h3>Add <span data-bind="text:PAGE.currentCompanyName()"></span> (<span data-bind="text:PAGE.currentTicker()"></span>) to Watch List</h3>
<p>Select an existing watch list:</p>
<select data-bind="options: PAGE.finalWL(), optionsCaption: 'Select Watch List', value: PAGE.selectedValue, optionsValue: 'id', optionsText: 'name'"></select>
<p>Create a new watch list:</p>
<input name="newWLName" type="text" class="text" class="addWatchlistName" data-bind="value: PAGE.newWLName">
<p><span class="button add-wl">Add to Watch List</span></p>