	<div class="login-bar" data-bind="css: {'non-premium': (premiumUser() == false)}">
		<span class="stock-facts"><b>StockFacts <i>Premium</i></b> delivers enhanced features and benefits. <a data-bind="siteLink: { id: 'premium'} ">Learn more &raquo;</a> </span>
		<div class="right">
			<a class="button" data-bind="siteLink: { id: 'sign-in'}">Sign in</a>
			<a class="button" data-bind="siteLink: { id: 'sign-up'} ">Start your free trial</a>
		</div>
	</div>
	
	<div class="login-bar" data-bind="css: {'premium': (premiumUser() ==  true)}">		
		<span class="stock-facts"><b>StockFacts <i>Premium</i></b></span>
		<span class="logged-in-as" data-bind="css: {'hide': (libLoggedIn() == true)}">Logged in as <span data-bind="text: premiumUserEmail"></span></span>
		<span class="trial-period" data-bind="css: {'hide': (libTrialPeriod() == true)}">: You have <span data-bind="text: currentDay"></span> days left in your trial.</span>
		<span class="trial-expired" data-bind="visible: (libTrialExpired() == true)">: Your trial has expired.</span>
		<ul>
			<li class="subscribe" data-bind="css: {'hide': (libSubscribe() == true)}"><a href="purchase-account.html" target="_blank">Subscribe</a></li>
			<li class="account"><a data-bind="siteLink: { id: 'account-settings'}">Account</a></li>
			<li class="alerts" data-bind="css: {'hide': (libAlerts() == true)}"><a data-bind="siteLink: { id: 'alerts'}">Alerts</a></li>
			<li class="last"><a data-bind="siteLink: { id: 'logout'} ">Sign Out</a></li>
		</ul>
		<!--<div class="right" data-bind="css: {'hide': (libCurrency() == true)}">
			<span class="currency">Currency</span>
			<select>
				<option>Singapore (SGD)</option>
			</select>
		</div>-->	
	</div>	